* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --CL: #161414;
    --BG: #fff;
    --CARD: #ffffff;
    --MAIN: #f3c86c;
    --Primary: #1A1A1A;

    --Background: #161414;
    --Text: #d7c08e; /* Vàng nâu nhẹ */
    --Head-Background: #161414;
    --Head-Text: #d7c08e;
    --Head-Shadow: #161414;

    --Setting-Background: #1A1A1A;
    --Setting-Text: #d7c08e;
    --Setting-BTN: #333333;
    --Setting-BTN-Text: #d7c08e;
    --Setting-BTN-Primary: #d7c08e;
    --Setting-BTN-Text-Primary: #000000;
    --Setting-Switch: #111111;
    --Setting-Switch-Dot: #d7c08e;
    --Setting-Switch-Checked: #d7c08e;
    --Setting-Switch-Dot-Checked: #000000;

    --List-Background: #1A1A1A;
    --List-Text: #d7c08e;
    --List-Background-Active: #d7c08e;
    --List-Text-Active: #000000;

    --Map-Background: #1A1A1A;
    --Map-BTN: #d7c08e;
    --Map-BTN-Text: #000000;
    --SnG-Head-Background: #1A1A1A;
    --SnG-Head-Text: #d7c08e;
    --SnG-Input: #333333;
    --SnG-Input-Text: #d7c08e;
    --SnG-BTN: #bda172;
    --SnG-BTN-Text: #000000;
    --Map-Marker-icon: #d7c08e;
    --SnG-Star: #d7c08e;
    --SnG-BTN-Main: #bda172;
    --SnG-BTN-Main-Text: #000000;
    --SnG-History-Background: #1A1A1A;
    --SnG-History-Text: #d7c08e;
    --SnG-History-Item-Background: #333333;
    --SnG-History-Item-Text: #d7c08e;

    --Feed-Text: #d7c08e;
    --Feed-Background: #1A1A1A;
    --Feed-Head: #d7c08e;
    --Feed-Head-Text: #000000;
    --Feed-Text-Head: #d7c08e;

    --Card-Main-Text: #d7c08e;
    --Card-Main-Background: #1A1A1A;
    --Card-Text: #d7c08e;
    --Card-Background: #d7c08e;
    --Card-Input-Text: #d7c08e;
    --Card-Input: #525252;
    --Card-BTN-Text: #000000;
    --Card-BTN: #d7c08e;
    --Card-Gas-Text: #ffffff;
    --Card-Gas-Background: #000000;

    --Loading-Bar: #d7c08e;
    --Loading: #1F1F1F;

    --Popup-Text:#d7c08e;
    --Popup:#1d1d1d;
    --Popup-BTN-Main-Text: #000;
    --Popup-BTN-Main: #d7c08e;
    --Popup-BTN-Text: #fff;
    --Popup-BTN: #333333;

    --Card: #272727;
    --HR: #333333;
}

body {
    line-height: 1.6;
    background-color: var(--BG);
    color: var(--CL);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    cursor: pointer;
}

.swal2-popup,
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-icon.swal2-success .swal2-success-fix {
    background-color: var(--Popup) !important;
    border-color: var(--Popup-Text) !important;
}

.swal2-success-ring {
    border-color: var(--Popup-Text) !important;
}

.swal2-icon.swal2-warning,
.swal2-icon.swal2-error,
.swal2-icon.swal2-info {
    border-color: var(--Popup-Text) !important;
    color: var(--Popup-Text) !important;
}

.swal2-success-line-long,
.swal2-success-line-tip,
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: var(--Popup-Text) !important;
}

.swal2-title,
.swal2-content {
    color: var(--Popup-Text) !important;
}

.dark-mode {
    --CL: #ffeeaf;
    --BG: #161414;
    --CARD: #333;
}

.MenuON {
    overflow: hidden;
    padding-bottom: 250px;
}

#toggle-button {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--MAIN) !important;
}

.Container {
    padding: 0 10px;
}

.Blur {
    right: 0;
    top: 0;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000000ee;
    z-index: 2;
}

.Card {
    background-color: var(--CARD);
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    margin: 10px 0;
}




.Card.Main .TotalMoney {
    text-align: center;
    overflow: auto;
}

.Container .Wallet {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.Wallet .Card.Money {
    width: calc(50% - 2.5px);
    margin: 0;
    overflow: auto;
}

.Wallet .Card.Money.Alert {
    background-color: var(--Primary);
}

.Wallet .Card.Money p {
    font-size: 16px;
    font-weight: 500;
}

.Wallet .Card.Money p span {
    background-color: var(--MAIN);
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding: 0 2px;
    border-radius: 3px;
}

#save20 {
    font-size: 10px;
    color: var(--MAIN);
}

.Wallet .Card.Money h1 {
    font-size: 22px;
    margin: 0;
}

.Wallet .Card.Money h1.green {
    color: var(--MAIN);
}

.Wallet .Card.Money h1.red {
    color: #ff4545;
}

.Wallet532 {
    display: none;
}

.Wallet532.Show {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.Card hr {
    height: 2px;
    background-color: var(--MAIN);
    border: none;
    margin: 10px 0;
}

.FuncBlock {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
}

.FuncBlock .Func {
    cursor: pointer;
    text-align: center;
    display: block;
}

.FuncBlock .Func i,
.FuncBlock .Func img {
    color: var(--MAIN);
    background-color: var(--Primary);
    height: 50px;
    width: 50px;
    font-size: 22px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.FuncBlock .Func strong {
    font-size: 14px;
    font-weight: 600;
}

/* .FuncBlock .Func:nth-child(1) i {
    background-color: #1DCC70;
}


.FuncBlock .Func:nth-child(2) i {
    background-color: #ff5555;
}

.FuncBlock .Func:nth-child(3) img {
    background-color: #fff;
}

.FuncBlock .Func:nth-child(4) i {
    background-color: #5199ff;
}

.FuncBlock .Func:nth-child(5) i {
    background-color: #ffa947;
}

.FuncBlock .Func:nth-child(6) i {
    background-color: #fd75ae;
} */

/* .FuncBlock .Func.active i {
    border: 2px solid  ;
} */


.Card.Card.Tabcontent {
    width: calc(100% - 20px);
    position: fixed;
    margin: 0 -10px;
    bottom: 100px;
    display: none;
    background-color: #000000;
    border: 3px solid var(--MAIN);
    z-index: 3;
    margin:  0;
}

.Card.Tabcontent h1,
.Card.Transactions h1 {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--MAIN);
}

.Transactions .Button {
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
}

.Transactions .Button button {
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 2px 0;
    border-radius: 50%;
    background-color: var(--MAIN);
    border: none;
}

#Transactions p {
    font-size: 14px;
    margin: 10px 0;
    background-color: var(--Primary);
    padding: 5px 10px;
    border-radius: 10px;
}

#Transactions p.green {
    color: var(--MAIN);
}

#Transactions p.red {
    color: #ff5353;
}



.Card.Tabcontent label {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    display: block;
    text-align: left;
}

.Card.Tabcontent input {
    width: 100%;
    background: transparent;
    border: none;
    text-align: right;
    margin: 5px 0;
    border-bottom: 2px solid var(--MAIN);
    border-radius: 0;
    height: 30px;
    color: var(--MAIN);
    font-size: 16px;
    font-weight: bold;
}

.Card.Tabcontent button {
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    border-radius: 20px;
    background-color: var(--MAIN);
    border: none;
}

.Card input:focus {
    outline: none;
}

#CoNenMuaKhong .alert.red {
    color: #ff4545;
}

#CoNenMuaKhong .alert.green {
    color: #1DCC70;
}

footer {
    font-size: 14px;
    color: var(--CL);
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.dark-mode footer {
    color: var(--MAIN);
}

.marquee-parent {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30px;
}

.marquee-child {
    display: block;
    width: max-content;
    height: 40px;
    position: absolute;
    animation: marquee 10s linear infinite;
    /* change 5s value to your desired speed */
}

@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -1000px
            /* same as your text width */
    }
}

#TimeNow {
    background-color: var(--MAIN);
    border-radius: 5px;
    color: black;
    font-size: 14px;
    padding: 2px 5px;
}
.Fixed {
    position: fixed;
    width: calc(100% - 20px);
    bottom: 10px;
    padding: 10px;
    z-index: 999;
    border-radius: 40px;
}