.orderForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.MXH-Input label span {
    font-size: 10px;
}

.MXH-Input label span a {
    font-size: 12px;
    color: var(--Text);
}

.Hide {
    display: none !important;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--SnG-Input-Text);
}

#Home select,
#Home input[type="text"],
#Home input[type="number"] {
    color: var(--SnG-Input-Text);
    background-color: var(--SnG-Input);
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

select {
    cursor: pointer;
}

.select-selected {
    padding: 10px;
}

select:focus,
input:focus {
    outline: none;
}

button {
    background-color: var(--SnG-BTN-Main);
    color: var(--SnG-BTN-Main-Text);
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 0;
}


#total_price {
    color: var(--Background) !important;
    background-color: var(--Text) !important;
    font-size: 30px !important;
    text-align: center;
}

.payment-method {
    color: var(--SnG-BTN-Text);
    background-color: var(--Card-Main-Text);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.payment-method strong {
    font-size: 16px;
} 
.payment-method p {
    text-align: left;
    margin: 10px 0;
}
.payment-method h3 {
    font-family: BeFontBold;
    font-size: 24px;
    margin: 0 0 10px 0;
}
.payment-method input {
    text-align: center;
}

.discount-info {
    font-weight: bold;
    margin: 5px 0 10px 0;
}


.Transfer a {
    text-decoration: none;
}

.Transfer h1 {
    color: var(--Text);
    background-color: var(--Background);
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
}

.QR {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid var(--Background);
}

.QR img {
    display: block;
    width: 100%;
    height: 100%;
}


.Momo {
    display: block;
    width: 100%;
    background-color: #a91f6c;
    color: #fff;
    margin: 10px 0;
    font-size: 20px;
    padding: 20px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#submit-button {
    padding: 20px 0;
}

.MXH-Input .Grid {
    display: grid;
    grid-template-columns: calc(80% - 10px) 20%;
    gap: 10px;
}

.MXH-Input .Grid button {
    margin: 0;
}

.MXH-Input.Transfer .Red {
    font-size: 14px;
    margin-top: 5px;
}

.comparison-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    border-collapse: separate;
    border-spacing: 0;
}

#TransferBank {
    cursor: pointer;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr:first-child td {
    border-top-style: solid;
}

tr td:first-child {
    border-left-style: solid;
}

th,
td {
    font-size: 12px;
    border: 2px solid var(--Text);
    padding: 15px;
    text-align: center;

}

td b,
td.Bold {
    font-size: 14px;
    font-weight: bold;
    font-family: BeFontBold;
}

th {
    background-color: var(--Text);
    color: var(--Background);
}



.button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.comparison-table td:nth-child(2),
.comparison-table td:nth-child(3) {
    width: 150px;
}

.tabcontent p {
    font-size: 16px;
    margin-bottom: 10px;
}

.tabcontent#Welcome {
    margin-bottom: 50px;
}

.tabcontent#Welcome h2 {
    display: inline-block;
    text-align: center;
    background-color: var(--Text);
    color: var(--Background);
    padding: 2px 10px;
    font-size: 20px;
    border-radius: 3px;
    margin: 10px 0 5px 0;
}

.tabcontent .Red {
    color: rgb(255, 81, 81);
    font-weight: bold;
}

.tabcontent textarea {
    width: 100%;
    height: 120px;
    font-size: 18px;
    padding: 10px;
    font-weight: 550;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    color: var(--SnG-Input-Text);
    background-color: var(--SnG-Input);
    resize: none;
}


#Order iframe {
    width: 100%;
    border-radius: 20px;
    min-height: 60vh;
    border: none;
    overflow: hidden;
}

#Order {
    padding-bottom: 50px;
    overflow: hidden;
}

.Btn.NONPriority {
    color: #fff;
    background-color: #b08d57;
    display: block !important;
}

.Priority-mode .Btn.NONPriority {
    display: none !important;
}

.Btn.Priority {
    display: none !important;
}

.Priority-mode .Btn.Priority {
    display: block !important;
}
#ThanhToan {
    display: none;
}
#ThanhToan .Btn {
    color: var(--Map-BTN);
    background-color: var(--Map-BTN-Text);
}
.Body .Status h1 {
    font-size: 24px;
}
.Head .Author .Info .Time {
    font-size: 14px;
    margin-top: 5px;
}
.Feed .Body strong, .Feed .Body mark {
    color: rgb(255, 81, 81) !important;
    font-weight: bold;
}

#TransferBankForm {
    cursor: pointer;
}
/* #orderForm {
    display: none;
} */

/* Style cho desktop */
@media (min-width: 768px) {
    main {
        max-width: 600px;
        margin: 60px auto;
    }
}

