@font-face {
    font-family: BeFont;
    src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

@font-face {
    font-family: BeFontBold;
    src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}

:root {
    --Background: #161414;
    --Text: #d7c08e;
    /* Vàng nâu nhẹ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: background-color 0.5s ease; */
}

body {
    font-family: BeFont;
    background-color: var(--Background);
    color: var(--Text);
    padding-bottom: 100px;
}

.MenuBlock {
    position: fixed;
    width: 100%;
    bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Menu {
    position: relative;
}

.MenuBox {
    background-color: #1b1b1b;
    width: 100%;
    position: relative;
    top: 0;
    padding: 10px;
    border-radius: 20px;
}

.Func {
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.FuncBTN {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    padding: 5px;
    background-color: #353535;
    cursor: pointer;

}

.FuncBTN i {
    color: #d7c08e;
    font-size: 26px;
    display: block;
    width: 100%;
}

.Home {
    padding: 10px;
}

/* Dọc */
.MenuBlock.Rotate {
    flex-direction: row;
}
.MenuBlock.Rotate .Menu {
    width: auto !important;
    right: 0;
}

.MenuBlock.Rotate .Menu .Func {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.Banner {
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.Banner img {
    width: 100%;
    display: block;
}

.MainWallet {
    background-color: #222222;
    margin-top: 10px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    overflow: auto;
}

.Wallet {
    font-size: 14px;
    font-weight: bold;
    color: #161414;
    background-color: #d7c08e;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.Wallet i {
    font-size: 20px;
}

.Box {
    background-color: #353535;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.Box:first-child {
    margin-bottom: 30px;
}

.Box .head {
    font-size: 18px;
}