@font-face {
  font-family: Patricia;
  src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

@font-face {
  font-family: PatriciaBold;
  src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #fffffe;
  --main-head-color: #0073C4;
  --main-paragraph-color: #3B4653;
  --main-button-bg: #3da9fc;
  --main-button-text: #fffffe;
  --main-highlight: #ef4565;
  --post-bg: #d6d6d6;
  --footer: linear-gradient(180deg, rgba(255, 255, 254, 0.185) 0%, rgba(255,255,254,1) 60%);
}

.dark-mode {
  --main-bg: #0f0e17;
  --main-head-color: #FFFFFE;
  --main-paragraph-color: #a7a9be;
  --main-button-bg: #06ff51;
  --main-button-text: #fffffe;
  --main-highlight: #06ff51;
  --post-bg: #1d1d1f;
  --footer: linear-gradient(180deg, rgba(15, 14, 23, 0.445) 0%, rgba(15, 14, 23, 1) 60%);
}

body {
  background-color: var(--main-bg);
  color: var(--main-paragraph-color);
  font-family: Patricia;
  transition: background-color 0.5s ease;
}

h1,
h2 {
  color: var(--main-head-color);
}

p {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-weight: normal;
}

header {
  margin: 20px 0 30px 0;
  cursor: pointer;
  text-align: center;
}

header h1 {
  margin-top: 30px;
}

header p {
  font-size: 10px;
  margin-bottom: -46px;
  margin-left: 90px;

}

.Blog {
  padding: 0 20px;
}

.Post,
.Feed {
  background-color: var(--post-bg);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

.Post img {
  display: block;
  margin: 20px auto;
  text-align: center;
}

ul {
  list-style-type: circle;
  padding: 0;
  margin: 0;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
}

iframe {
  width: 100%;
  border-radius: 10px
}

button {
  cursor: pointer;
  color: var(--main-button-text);
  background-color: var(--main-button-bg);
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

strong,
a {
  color: var(--main-highlight);
}

.Head .Author {
  display: grid;
  grid-template-columns: 60px auto 30px;
  gap: 2px;
}

.Head .Author .Avatar {
  text-align: center;
}

.Head .Author .Avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.Head .Author .Info .Name {
  font-size: 20px;
  font-weight: bold;
}

.Head .Author .Info .Time {
  font-size: 14px;
  color: var(--main-paragraph-color);
  /* Light gray for time */
}

.Head .Author .Func.Share {
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
}

.Head .Author .Func.Share i {
  font-size: 20px;
  color: var(--main-button-bg);
  /* Green for share icon */
}

.wp-block-video video {
  max-width: 100%;
  margin: 5px 0 0 0;
}

.Body .Status {
  padding: 5px;
}

.Body .Status h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.figure {
  margin: 5px 0;
}

.Body .Status img,
.Body .Status video {
  height: auto;
  width: 100% !important;
  border-radius: 10px;
  border: 2px solid var(--main-bg);
  box-sizing: border-box;
}

.Body .Status video {
  background-color: var(--main-bg);
}


.Body .Status .Content .wp-smiley {
  border: none;
}

.Status .wp-block-gallery {
  column-count: 2 !important;
  --webkit-column-count: 2;
  --moz-column-count: 2;
  gap: 5px;
  margin: 5px 0;
}

.Status .wp-block-gallery img {
  border: 2px solid black;
}

/* Ẩn modal mặc định */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Hiển thị ảnh trong modal */
.modal-content {
  border-radius: 10px;
  margin: 80px auto auto auto;
  display: block;
  max-width: 95%;
  max-height: 100%;
}

/* Đóng modal */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

/* Thêm kiểu dáng cho chữ caption */
.caption {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  /* Điều chỉnh khoảng cách giữa ảnh và chữ caption */
}


.Status .wp-block-image {
  margin: 5px 0;
}

.Status .wp-block-gallery .wp-block-image {
  margin: 0 auto;
  text-align: center;
}

.Feed .Body strong,
.Feed .Body mark {
  color: var(--primary-color) !important;
  /* Green for emphasis */
  font-weight: bold;
}

.Feed .Body blockquote {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  background-color: var(--main-bg);
  /* Inherit background for quotes */
  border: 3px solid var(--main-button-bg);
  border-radius: 5px;
  padding: 1px 0;
  padding-left: 10px;
}

.Feed .Body blockquote p {
  font-family: monospace;
  font-size: 18px;
}


.Feed .Body blockquote a {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}

.copy-container {
  text-align: center;
  margin: 10px 0;
}

.copy-container button {
  border-radius: 5px;
  margin-top: 2px;
  width: 100%;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

footer {
  background: rgb(15, 14, 23);
  background: var(--footer);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}

footer p {
  font-size: 14px;
}

@media (min-width: 600px) {
  main {
    padding: 0 20%;
  }
}