h1{
  border: 3px solid;
  text-align: center;  
}
p{
  text-align: center;
  font-size:20px;
}

/*Darkmode*/

body {
    padding: 25px;
    background-color: #242424;
    color: white;
    font-size: 25px;
  }
  
  .dark-mode {
    background-image: url(/img/wall.jpg);
    color: white;
  }
  
  .dark-mode2 {
    background-color: rgb(0, 0, 0);
    color: greenyellow;
  }

.box {
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[class=pssw] {
  padding: 10px;
  font-size: 17px;
  width: 80%;
}

/* Style the submit button */
form.example button {
  float: center;
  width: 15%;
  padding: 8px;
  background: inherit;
  color: inherit;
  font-size: 17px;
  border: 3px solid ;
}

form.example button:hover {
  background: ;
}


.switch-dark-mode {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(175, 174, 174);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00ac48;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
    background-color: white;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* style dark mode */
.darkmodestyle {
  text-align: center;
}
