body {
    background-color: #242424;
    color: greenyellow;
  }
.darkmode {
    background-color: white;
    color: black;
}

.v1 {
    height: 50px;
    width: 50px;
    background-color: red;
  }

.barScroll {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(29, 29, 29, 0.507);
  }
  
 .barScroll-action {
    height: 5px;
    background: currentColor;
    width: 0%;
  }

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    color: greenyellow;
    display: block;
    transition: 0.3s;
  }

  .sidebar a.class1 {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    color: red;
    display: block;
    transition: 0.3s;
  }

  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closeMenu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  .menu {
    font-family: 'Anonymous Pro', monospace;
    left: 0;
    top: 15px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: inherit;
    color: unset;
    padding: 10px 15px;
    border: solid 3px currentColor;
  }
  
  .menu:hover {
    background-color: unset;
    color: black;
  }
  
  #menu {
    transition: margin-left .5s;
    padding: 15px;
  }

h3 {
  font-family: 'Anonymous Pro', monospace;
}


a.link {
  text-decoration: none;
  color: black;
  background-color: greenyellow;
}

a.link:hover {
  background-color: red;
}



::selection {
  background: greenyellow; 
  color: black;
}
