* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    padding: 5px;
}
.Box {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Today {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .TimeEat {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }
  
  h1 {
    font-size: 20px;
    color: #333;
  }
  
  #currentCalories {
    font-weight: bold;
    color: #e44d26; /* Màu đỏ */
  }
  
  input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50; /* Màu xanh lá cây */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049; /* Màu xanh lá cây đậm hơn khi hover */
  }
  
  .History {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  #historyDays {
    margin-top: 20px;
  }
  
  /* Thêm một số style cho responsive design */
  @media only screen and (max-width: 600px) {
    .Box {
      margin: 20px;
    }
  }
  