:root {
    --Text: #ffeeaf;
    --Bg: #1A1A1A;
    --Card: #333;
    --Main: #F9D342;
    --Primary: rgb(44, 33, 12);
    --Primary2: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    cursor: pointer;
}

.Hidden {
    display: none !important;
}

.DynamicIsland {
    cursor: pointer;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    z-index: 3;
    max-width: calc(100% - 20px);
    display: none;
    align-items: center;
    justify-content: center;
}

.DynamicIsland .Action {
    display: flex;
    height: 36px;
    width: 120px;
    background-color: #000;
    border-radius: 40px;
    transition: all 0.5s;
}

.DynamicIsland .Action .Icon img {
    width: 100%;
}

.DynamicIsland .Action .Active {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.DynamicIsland .Action .Active.One,
.DynamicIsland .Action .Active.Two {
    display: none;
}


.DynamicIsland .Action .Active.One {
    padding: 0 10px;
}

.DynamicIsland .Action .Active.One .Icon {
    height: 20px;
    width: 20px;
}


.DynamicIsland .Action .Active.Two {
    padding: 0 12px;
}

.DynamicIsland .Action .Active.Two .Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f45142;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
}

.DynamicIsland .Action .Active.Two .Icon:first-child {
    height: 46px;
    width: 46px;
    background-color: #1f51d8;
}

.DynamicIsland .Action .Active.Two .Icon:last-child {
    background-color: #57d66b;
    margin-left: 12px;
}

.DynamicIsland .Action .Active.Two .Icon i {
    color: #fff;
    font-size: 20px;
}

.DynamicIsland .Action .Active.Two .Content {
    color: #fff;
    margin-right: auto;
    margin-left: 8px;
}

.DynamicIsland .Action .Active.Two .Content p {
    font-size: 12px;
    color: #838383;
}

.DynamicIsland .Action .Active.Two .Content h1 {
    font-size: 16px;
    color: #fff;
}




.AETH {
    height: 100vh;
    padding: 10px;
    color: #fff;
}

.AETH .Head {
    color: var(--Main);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.AETH .Head h1 {
    font-size: 50px;
    margin-left: 60px;
}

.AETH .Head h1 span {
    font-size: 30px;
    color: var(--Main);
}

.AETH .Head h1 span:nth-child(2) {
    position: relative;
    left: -118px;
    top: -30px;
    font-size: 10px;
    color: rgb(190, 190, 190);
}

.AETH .Head h1 strong {
    color: var(--Main);
    font-size: 12px;
}

.AETH .Head P {
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
}


.AETH .Body {
    padding: 10px;
    text-align: center;
}

.AETH .Body h1 {
    font-size: 26px;
    font-weight: 600;
}

.AETH .Body p {
    font-size: 14px;
    font-weight: 400;
}

.DIVFuncs {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}

.Func {
    cursor: pointer;
    background-color: var(--Card);
    height: 150px;
    width: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: auto;
}

.Func:active .Icon,
.Func:hover .Icon,
.Func.Active .Icon {
    color: var(--Primary);
    background-color: var(--Main);
}

.Func .Icon {
    font-size: 40px;
    color: var(--Main);
    background-color: var(--Primary);
    padding: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Func .Label {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}


.Block {
    color: var(--Text);
    background-color: var(--Bg);
    min-height: 100vh;
    padding: 10px;
}

.Block .Head {
    color: #fff;
    padding: 0 10px;
}

.Block .Head h1 {
    font-size: 36px;
}

.Block .Head h1 span {
    font-size: 20px;
    color: #111;
}

.Block .Head h1 span:nth-child(2) {
    position: relative;
    left: -125px;
    top: -22px;
    font-size: 8px;
    color: rgb(190, 190, 190);
}

.Block .Head h1 strong {
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.Block .Head P {
    font-size: 14px;
    margin-top: -5px;
}

.Block .Body {
    height: 80vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Block {
    display: none;
    padding: 0px;
    overflow: hidden;
}

.Block.AECloud {
    padding: 10px;
}

.Block.AECloud .Body iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

.Home {
    cursor: pointer;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 0;
    right: 20px;
    margin-left: auto;
    height: 40px;
    width: 40px;
    z-index: 999;
}


.Home img {
    width: 100%;
}

/* .ShareGo {
    display: block;
} */

.ShareGo .Head {
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: var(--Primary);
    border-bottom-right-radius: 10px;
}

.ShareGo .Head h1 {
    color: var(--Main);
    font-size: 20px;
}

.ShareGo .Head h1 span {
    font-size: 10px;
    color: var(--Text);
}

#map {
  
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.map-container {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}

.Map {
    width: 100%;
    position: relative;
    height: 250px;
    overflow: hidden;
    margin: 0;
}

.mapboxgl-canvas {
    width: 100% !important;
}

.mapboxgl-popup-content {
    background-color: var(--Primary) !important;
}

.mapboxgl-popup-tip {
    border-top-color: var(--Primary) !important;
    ;
}


#mapType {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}



select {
    text-align: center;
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    padding: 5px 10px;
    font-size: 1.15rem;
    background-color: var(--Main);
    border: none;
    border-top-left-radius: 10px;
    color: var(--Primary);
    cursor: pointer;
    font-weight: bold;
}

select:focus {
    outline: none;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}


.Form {
    background-color: var(--Bg);
    color: var(--Text);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Form label {
    display: block;
    font-weight: 500;
    margin-bottom: 3px;
}

.Form label span {
    font-size: 10px;
    font-weight: normal;
}

.Form input {
    color: var(--Main);
    width: 100%;
    display: block;
    border: none;
    background-color: var(--Primary2);
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    font-weight: 550;
}

.Form input:focus {
    outline: none;
}

.Form .Flex button {
    color: var(--Main);
    font-size: 20px;
    height: 41px;
    width: 55px;
    border-radius: 10px;
    border: none;
    background-color: var(--Primary);
}

.Form textarea {
    width: 100%;
    height: 120px;
    font-size: 18px;
    padding: 10px;
    font-weight: 550;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    color: var(--Main);
    background-color: var(--Primary2);
    resize: none;
}

.Form .Flex {
    display: flex;
    align-items: end;
    gap: 8px;
}

.Form .Flex .Input {
    width: 100%;
}

/* .Form #time,
.Form #date {
    width: 100%;
    padding: 10px;
} */
input[type='date'],
input[type='time'] {
    -webkit-appearance: none;
}

.ratings {
    background-color: var(--Primary2);
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    direction: rtl;
    text-align: center;
}

.star {
    cursor: pointer;
    position: relative;
    line-height: 40px;
    display: inline-block;
    transition: color 0.2s ease;
    color: var(--Primary);
}

.star:before {
    content: '\2605';
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.star:hover,
.star.selected,
.star:hover~.star,
.star.selected~.star {
    transition: color 0.8s ease;
    color: var(--Main);
}

.Form button.Confirm {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: var(--Primary);
    background-color: var(--Main);
}

.historyContainer {
    background-color: var(--Primary2);
    padding: 10px;
}

.history-item {
    border-radius: 10px;
    margin-top: 10px;
}


.history-item {
    background-color: var(--Primary2);
    border: 2px solid var(--Main);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.history-item .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: var(--Main);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.history-item .delete-btn:hover {
    color: #f00;
}


.history-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.history-item p {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.5;
}

.history-item p strong {
    font-weight: bold;
}

.history-item a {
    color: #337ab7;
    text-decoration: none;
}

.history-item .rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


.history-item .note {
    font-style: italic;
}

.historyContainer button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #1D6F42;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.historyContainer button:nth-child(3) {
    background-color: rgb(0, 140, 255);
}

.historyContainer button:nth-child(4) {
    background-color: rgb(252, 45, 45);
}

.swal2-popup,
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-icon.swal2-success .swal2-success-fix {
    background-color: var(--Bg) !important;
}

.swal2-success-ring {
    border-color: var(--Main) !important;
}

.swal2-icon.swal2-warning,
.swal2-icon.swal2-error{
    border-color: var(--Main) !important;
    color: var(--Main) !important;
}

.swal2-success-line-long,
.swal2-success-line-tip,
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: var(--Main) !important;
}

.swal2-title,
.swal2-content {
    color: var(--Main);
}

button[type=button]{
    color: var(--Primary) !important;
    background-color: var(--Main) !important;
}

button[type=button].swal2-cancel {
    color: var(--Main) !important;
    background-color: var(--Primary) !important;
}

