:root {
    --Background: #FFFFFF;
    --Text: #000000;
    --Head-Background: #FFFFFF;
    --Head-Text: #000000;
    --Head-Shadow: #35353586;

    --Setting-Background: #D3E3FC;
    --Setting-Text: #00887A;
    --Setting-BTN: #003135;
    --Setting-BTN-Text: #AFDDE5;
    --Setting-BTN-Primary: #0fa4af;
    --Setting-BTN-Text-Primary: #ffffff;
    --Setting-Switch: #353535;
    --Setting-Switch-Dot: #ffffff;
    --Setting-Switch-Checked: #00887A;
    --Setting-Switch-Dot-Checked: #FFFFFF;

    --List-Background: #D3E3FC;
    --List-Text: #77a6F7;
    --List-Background-Active: #77a6F7;
    --List-Text-Active: #FFF;

    --Map-Background: #77a6F7;
    --Map-BTN: #77a6F7;
    --Map-BTN-Text: #FFFFFF;
    --SnG-Head-Background: #77a6F7;
    --SnG-Head-Text: #FFFFFF;
    --SnG-Input: #D3E3FC;
    --SnG-Input-Text: #77a6F7;
    --SnG-BTN: #77a6F7;
    --SnG-BTN-Text: #FFFFFF;
    --Map-Marker-icon: #fff;
    --SnG-Star: #77a6F7;
    --SnG-BTN-Main: #77a6F7;
    --SnG-BTN-Main-Text: #FFFFFF;
    --SnG-History-Background: #00887A;
    --SnG-History-Text: #fff;
    --SnG-History-Item-Background: #fff;
    --SnG-History-Item-Text: #000000;

    --Feed-Text: #000000;
    --Feed-Background: #77a6F7;
    --Feed-Head: #ffffff;
    --Feed-Text-Head: #ff0000;

    --Card-Main-Text: #FFFFFF;
    --Card-Main-Background: #77a6F7;
    --Card-Text: #000;
    --Card-Background: #ffffff;
    --Card-Input-Text: #000;
    --Card-Input: #eee;
    --Card-BTN-Text: #ffffff;
    --Card-BTN: #00887A;
    --Loading-Bar: #77a6F7;
    --Loading: #b4b4b4;

    --Popup-Text:#00887A;
    --Popup:#77a6F7;
    --Popup-BTN-Main-Text: #fff;
    --Popup-BTN-Main: #00887A;
    --Popup-BTN-Text: #fff;
    --Popup-BTN: #003135;

    --Card: #272727;
    --HR: #272727;
}

.Basic-mode {
    --Background: #FFFFFF;
    --Text: #000000;
    --Head-Background: #FFFFFF;
    --Head-Text: #000000;
    --Head-Shadow: #35353586;

    --Setting-Background: #FFFFFF;
    --Setting-Text: #000000;
    --Setting-BTN: #000000;
    --Setting-BTN-Text: #ffffff;
    --Setting-BTN-Primary: #5c5c5c;
    --Setting-BTN-Text-Primary: #ffffff;
    --Setting-Switch: #5c5c5c;
    --Setting-Switch-Dot: #ffffff;
    --Setting-Switch-Checked: #000000;
    --Setting-Switch-Dot-Checked: #FFFFFF;

    --List-Background: #5c5c5c;
    --List-Text: #ffffff;
    --List-Background-Active: #000000;
    --List-Text-Active: #FFF;

    --Map-Background: #000000;
    --Map-BTN: #000000;
    --Map-BTN-Text: #FFFFFF;
    --SnG-Head-Background: #000000;
    --SnG-Head-Text: #FFFFFF;
    --SnG-Input: #5c5c5c;
    --SnG-Input-Text: #ffffff;
    --SnG-BTN: #000000;
    --SnG-BTN-Text: #FFFFFF;
    --Map-Marker-icon: #fff;
    --SnG-Star: #000000;
    --SnG-BTN-Main: #000000;
    --SnG-BTN-Main-Text: #FFFFFF;
    --SnG-History-Background: #000000;
    --SnG-History-Text: #fff;
    --SnG-History-Item-Background: #fff;
    --SnG-History-Item-Text: #000000;

    --Feed-Text: #ffffff;
    --Feed-Background: #000000;
    --Feed-Head: #ffffff;
    --Feed-Head-Text: #000000;
    --Feed-Text-Head: #ff0000;

    --Card-Main-Text: #ffffff;
    --Card-Main-Background: #000000;
    --Card-Text: #000;
    --Card-Background: #ffffff;
    --Card-Input-Text: #000;
    --Card-Input: #eee;
    --Card-BTN-Text: #000000;
    --Card-BTN: #ffffff;
    --Card-Gas-Text: #ffffff;
    --Card-Gas-Background: #000000;

    --Loading-Bar: #fff;
    --Loading: #5c5c5c;

    --Popup-Text:#000000;
    --Popup:#fff;
    --Popup-BTN-Main-Text: #ffffff;
    --Popup-BTN-Main: #000000;
    --Popup-BTN-Text: #fff;
    --Popup-BTN: #5c5c5c;
}

.Dark-mode {
    --Background: #121212;
    --Text: #E0E0E0;
    --Head-Background: #1F1F1F;
    --Head-Text: #FFFFFF;
    --Head-Shadow: #000000;
    
    --Setting-Background: #1F1F1F;
    --Setting-Text: #E0E0E0;
    --Setting-BTN: #333333;
    --Setting-BTN-Text: #FFFFFF;
    --Setting-BTN-Primary: #3E3E3E;
    --Setting-BTN-Text-Primary: #E0E0E0;
    --Setting-Switch: #525252;
    --Setting-Switch-Dot: #757575;
    --Setting-Switch-Checked: #003a61;
    --Setting-Switch-Dot-Checked: #FFFFFF;

    --List-Background: #1F1F1F;
    --List-Text: #E0E0E0;
    --List-Background-Active: #333333;
    --List-Text-Active: #FFFFFF;

    --Map-Background: #1F1F1F;
    --Map-BTN: #333333;
    --Map-BTN-Text: #FFFFFF;
    --SnG-Head-Background: #1F1F1F;
    --SnG-Head-Text: #FFFFFF;
    --SnG-Input: #333333;
    --SnG-Input-Text: #E0E0E0;
    --SnG-BTN: #003a61;
    --SnG-BTN-Text: #FFFFFF;
    --Map-Marker-icon: #FFFFFF;
    --SnG-Star: #8fd2ff;
    --SnG-BTN-Main: #003a61;
    --SnG-BTN-Main-Text: #FFFFFF;
    --SnG-History-Background: #1F1F1F;
    --SnG-History-Text: #E0E0E0;
    --SnG-History-Item-Background: #333333;
    --SnG-History-Item-Text: #E0E0E0;

    --Feed-Text: #E0E0E0;
    --Feed-Background: #1F1F1F;
    --Feed-Head: #1F1F1F;
    --Feed-Head-Text: #000000;
    --Feed-Text-Head: #E0E0E0;

    --Card-Main-Text: #E0E0E0;
    --Card-Main-Background: #1F1F1F;
    --Card-Text: #FFFFFF;
    --Card-Background: #333333;
    --Card-Input-Text: #E0E0E0;
    --Card-Input: #525252;
    --Card-BTN-Text: #E0E0E0;
    --Card-BTN: #003a61;
    --Card-Gas-Text: #ffffff;
    --Card-Gas-Background: #000000;

    --Loading-Bar: #fff;
    --Loading: #1F1F1F;

    --Popup-Text:#ffffff;
    --Popup:#1F1F1F;
    --Popup-BTN-Main-Text: #ffffff;
    --Popup-BTN-Main: #003a61;
    --Popup-BTN-Text: #fff;
    --Popup-BTN: #5c5c5c;
}

.Priority-mode.Dark-mode {
    --Background: #161414;
    --Text: #d7c08e; /* Vàng nâu nhẹ */
    --Head-Background: #161414;
    --Head-Text: #d7c08e;
    --Head-Shadow: #161414;

    --Setting-Background: #1A1A1A;
    --Setting-Text: #d7c08e;
    --Setting-BTN: #333333;
    --Setting-BTN-Text: #d7c08e;
    --Setting-BTN-Primary: #d7c08e;
    --Setting-BTN-Text-Primary: #000000;
    --Setting-Switch: #111111;
    --Setting-Switch-Dot: #d7c08e;
    --Setting-Switch-Checked: #d7c08e;
    --Setting-Switch-Dot-Checked: #000000;

    --List-Background: #1A1A1A;
    --List-Text: #d7c08e;
    --List-Background-Active: #d7c08e;
    --List-Text-Active: #000000;

    --Map-Background: #1A1A1A;
    --Map-BTN: #d7c08e;
    --Map-BTN-Text: #000000;
    --SnG-Head-Background: #1A1A1A;
    --SnG-Head-Text: #d7c08e;
    --SnG-Input: #333333;
    --SnG-Input-Text: #d7c08e;
    --SnG-BTN: #bda172;
    --SnG-BTN-Text: #000000;
    --Map-Marker-icon: #d7c08e;
    --SnG-Star: #d7c08e;
    --SnG-BTN-Main: #bda172;
    --SnG-BTN-Main-Text: #000000;
    --SnG-History-Background: #1A1A1A;
    --SnG-History-Text: #d7c08e;
    --SnG-History-Item-Background: #333333;
    --SnG-History-Item-Text: #d7c08e;

    --Feed-Text: #d7c08e;
    --Feed-Background: #1A1A1A;
    --Feed-Head: #d7c08e;
    --Feed-Head-Text: #000000;
    --Feed-Text-Head: #d7c08e;

    --Card-Main-Text: #d7c08e;
    --Card-Main-Background: #1A1A1A;
    --Card-Text: #d7c08e;
    --Card-Background: #333333;
    --Card-Input-Text: #d7c08e;
    --Card-Input: #525252;
    --Card-BTN-Text: #000000;
    --Card-BTN: #d7c08e;
    --Card-Gas-Text: #ffffff;
    --Card-Gas-Background: #000000;

    --Loading-Bar: #d7c08e;
    --Loading: #1F1F1F;

    --Popup-Text:#d7c08e;
    --Popup:#161414;
    --Popup-BTN-Main-Text: #000;
    --Popup-BTN-Main: #d7c08e;
    --Popup-BTN-Text: #fff;
    --Popup-BTN: #333333;

    --Card: #272727;
    --HR: #333333;
}
.Priority-mode {
    --Background: #f4f4f4;
    --Text: #333333;
    --Head-Background: #f4f4f4;
    --Head-Text: #b08d57;
    --Head-Shadow: #cccccc;

    --Setting-Background: #ffffff;
    --Setting-Text: #333333;
    --Setting-BTN: #b08d57;
    --Setting-BTN-Text: #ffffff;
    --Setting-BTN-Primary: #333333;
    --Setting-BTN-Text-Primary: #b08d57;
    --Setting-Switch: #e0e0e0;
    --Setting-Switch-Dot: #b08d57;
    --Setting-Switch-Checked: #b08d57;
    --Setting-Switch-Dot-Checked: #ffffff;

    --List-Background: #e0e0e0;
    --List-Text: #b08d57;
    --List-Background-Active: #b08d57;
    --List-Text-Active: #ffffff;

    --Map-Background: #ffffff;
    --Map-BTN: #b08d57;
    --Map-BTN-Text: #ffffff;
    --SnG-Head-Background: #ffffff;
    --SnG-Head-Text: #b08d57;
    --SnG-Input: #e0e0e0;
    --SnG-Input-Text: #333333;
    --SnG-BTN: #b08d57;
    --SnG-BTN-Text: #ffffff;
    --Map-Marker-icon: #b08d57;
    --SnG-Star: #b08d57;
    --SnG-BTN-Main: #b08d57;
    --SnG-BTN-Main-Text: #ffffff;
    --SnG-History-Background: #ffffff;
    --SnG-History-Text: #333333;
    --SnG-History-Item-Background: #f5f5f5;
    --SnG-History-Item-Text: #b08d57;

    --Feed-Text: #333333;
    --Feed-Background: #e0e0e0;
    --Feed-Head: #b08d57;
    --Feed-Head-Text: #ffffff;
    --Feed-Text-Head: #b08d57;

    --Card-Main-Text: #333333;
    --Card-Main-Background: #e0e0e0;
    --Card-Text: #333333;
    --Card-Background: #b08d57;
    --Card-Input-Text: #333333;
    --Card-Input: #ffffff;
    --Card-BTN-Text: #ffffff;
    --Card-BTN: #b08d57;
    --Card-Gas-Text: #ffffff;
    --Card-Gas-Background: #000000;

    --Loading-Bar: #d7c08e;
    --Loading: #e0e0e0;

    --Popup-Text:#b08d57;
    --Popup:#f4f4f4;
    --Popup-BTN-Main-Text: #ffffff;
    --Popup-BTN-Main: #b08d57;
    --Popup-BTN-Text: #fff;
    --Popup-BTN: #333333;

    --Card: #b08d57;
    --HR: #333333;
}



@font-face {
    font-family: BeFont;
    src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

@font-face {
    font-family: BeFontBold;
    src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

body {
    font-family: BeFont;
    background-color: var(--Background);
    color: var(--Text);
   
}

h1,
h2 {
    font-family: BeFontBold;
}

hr {
    background-color: var(--HR);
    border: none;
    height: 2px;
    border-radius: 10px;
    width: 100%;
    margin: 10px auto;
}
button:hover
,.Btn:hover{
    background-color: var(--Card-Background) ;
}
.Priority-mode #tabAETH,
.Priority-mode #tabBlog,
.Priority-mode #tabAETHMess {
    display: flex;
}
.Priority-mode .WelcomePriority {
    display: block;
    color: var(--Loading-Bar);
}
.Dev-mode #tabDEV {
    display: flex;
}

.hide,
#tabAETH,
#tabAETHMess,
#tabBlog,
#tabDEV,
.WelcomePriority {
    display: none;
}

.forms-studio {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

.forms-studio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20px;
    overflow: hidden;
}

.swal2-popup,
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-icon.swal2-success .swal2-success-fix {
    background-color: var(--Popup) !important;
    border-color: var(--Popup-Text) !important;
}

.swal2-success-ring {
    border-color: var(--Popup-Text) !important;
}

.swal2-icon.swal2-warning,
.swal2-icon.swal2-error,
.swal2-icon.swal2-info {
    border-color: var(--Popup-Text) !important;
    color: var(--Popup-Text) !important;
}

.swal2-success-line-long,
.swal2-success-line-tip,
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: var(--Popup-Text) !important;
}

.swal2-title,
.swal2-content {
    color: var(--Popup-Text) !important;
}

button[type=button] {
    color: var(--Popup-BTN-Main-Text) !important;
    background-color: var(--Popup-BTN-Main) !important;
}

button[type=button].swal2-cancel {
    color: var(--Popup-BTN-Text) !important;
    background-color: var(--Popup-BTN) !important;
}

.swal2-popup.swal2-toast {
    box-shadow: none !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
    background: rgba(0, 0, 0, 0.884) !important;
}

body.swal2-toast-shown .swal2-container.swal2-bottom-end,
body.swal2-toast-shown .swal2-container.swal2-top-right {
    background: none !important;
}

.swal2-timer-progress-bar {
    background-color: var(--Popup-Text) !important;
}

.swal2-validation-message {
    background-color: #111 !important;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--Text);
    background-color: var(--Background);
    text-align: center;
    /* Màu nền của trang loading */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: none;
}
.logo {
    transition: none;
}

.logo img {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    /* Điều chỉnh kích thước logo nếu cần */
    transition: none;
}

.loading-bar {
    width: 100%;
    max-width: 300px;
    height: 10px;
    background-color: var(--Loading);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    width: 0;
    height: 10px;
    border-radius: 10px;
    background-color: var(--Loading-Bar);
    /* Màu của thanh tiến trình */
    transition: width 0.4s ease;
}

#main-content {
    display: none;
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    color: var(--Head-Text);
    background-color: var(--Head-Background);
    box-shadow: 0px 0px 10px 1px var(--Head-Shadow);
    z-index: 2;
}

.head .user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.head .avatar {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.head .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user .infouser .username {
    font-size: 18px;
    margin-bottom: 2px;
}

.user .infouser .rank {
    font-size: 12px;
}

.weather {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.weather h1 {
    font-size: 18px;
    text-align: center;
}

.weather p {
    font-size: 12px;
}

.weather div {
    display: flex;
    gap: 2px;
}

.weather .flex img {
    width: 22px;
    height: 22px;
    margin-top: 2px;
}

.weatherAll {
    color: var(--Setting-Text);
    background-color: var(--Setting-Background);
    text-align: center;
    display: none;
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 0;
}

.weatherAll #location {
    font-size: 14px;
}

.weatherAll #condition img {
    height: 120px;
    width: 120px;
}

.weatherAll #temperature {
    font-size: 25px;
}

.weatherAll .More {
    color: var(--Setting-BTN-Text-Primary);
    background-color: var(--Setting-BTN-Primary);
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    gap: 2px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

.Btn {
    display: block;
    color: var(--Map-BTN-Text);
    background-color: var(--Map-BTN);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
}

.Btn.Reset {
    color: var(--Setting-BTN-Text-Primary);
    background-color: var(--Setting-BTN-Primary);
    padding: 10px;
    font-size: 16px;
}

.Setting {
    color: var(--Setting-Text);
    background-color: var(--Setting-Background);
    display: none;
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 0;
}

.Setting .Btn {
    display: block;
    color: var(--Setting-BTN-Text);
    background-color: var(--Setting-BTN);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
}

.Setting .Btn.Reset {
    color: var(--Setting-BTN-Text-Primary);
    background-color: var(--Setting-BTN-Primary);
    padding: 10px;
    font-size: 16px;
}

.Setting .ItemBtn {
    display: grid;
    grid-template-columns: calc(80% - 10px) 20%;
    gap: 10px;
}

.Setting .Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 0;
}
.Setting .ItemID {
    display: grid;
    grid-template-columns: calc(80% - 10px) 20%;
    gap: 10px;
    margin-bottom: 20px;
}
.Setting .ItemID .Btn {
    margin: 0;
}

.Setting #HunqID{
    padding: 10px;
    background-color: var(--Background);
    color: var(--SnG-Input-Text);
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}
.Setting #HunqID::selection {
    background-color: transparent;
}
.Setting .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.Setting .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Setting .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Setting-Switch);
    transition: .4s;
    border-radius: 13px;
    ;
    /* Giảm kích thước đường viền cong */
}

.Setting .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    /* Kích thước bóng tròn nhỏ hơn */
    width: 22px;
    /* Kích thước bóng tròn nhỏ hơn */
    left: 2px;
    bottom: 2px;
    background-color: var(--Setting-Switch-Dot);
    transition: .4s;
    border-radius: 50%;
}

.Setting input:checked+.slider {
    background-color: var(--Setting-Switch-Checked);
}

.Setting input:checked+.slider:before {
    transform: translateX(24px);
    background-color: var(--Setting-Switch-Dot-Checked);
}

.Setting label {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.searchLocation {
    display: grid;
    grid-template-columns: 50% auto auto auto;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
}

.searchLocation #manualLocation {
    background-color: var(--Background);
    border: 2px solid var(--Setting-BTN);
    padding: 10px;
    font-size: 16px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

.searchLocation button {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    color: var(--Setting-BTN-Text);
    background-color: var(--Setting-BTN);
    border: none;
}

#Blog button {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    color: var(--Map-BTN-Text);
    background-color: var(--Map-BTN);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

#uv_warning {
    text-shadow: 1px 1px 1px --Paragraph;
    font-size: 16px;
    font-weight: bold;
    display: none;
    padding: 5px;
    border-radius: 20px;
}

.infoDevice {
    font-size: 12px;
}

button {
    cursor: pointer;
}

main {
    margin-top: 60px;
    padding: 10px 20px;
}

main .banner {
    height: 150px;
    border-radius: 28px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    max-width: 100%;
}

main .list {
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    gap: 10px;
    overflow-x: scroll;
    margin: 10px 0;
    white-space: nowrap;
    scrollbar-width: none;
    border-radius: 10px;
}

main .list .item {
    color: var(--List-Text);
    background-color: var(--List-Background);
    cursor: pointer;
    grid-template-columns: 100px auto;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
}

main .list .item .icon {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
}

main .list .item .icon img {
    height: 100%;
    width: 100%;
}

main .list::-webkit-scrollbar {
    display: none;
}

.tabcontent {
    display: none;
    padding-bottom: 50px;
}

.tabcontent.show {
    display: block;
}

.tablinks.active {
    color: var(--List-Text-Active) !important;
    background-color: var(--List-Background-Active) !important;
}
main .tablinks .label {
    display: none;
    transition: width 2s;
}
main .tablinks.active .label {
    display: block;
}


.mainCard {
    display: grid;
    grid-template-columns: calc(50%  - 5px) calc(50% - 5px);
    justify-content: space-around;
    gap: 10px;
    margin: 20px 0;
}

.mainCard .Card {
    width: 100%;
    color: var(--Card-Text);
    background-color: var(--Card-Main-Background);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainCard .Card .image {
    border-radius: 18px;
    overflow: hidden;
}

.mainCard .Card .image img {
    display: block;
    background-color: #000;
}

.mainCard .Card .product {
    margin-top: 5px;
    padding: 0 8px;
}

.mainCard .Card .product .name {
    font-size: 16px;
}

.mainCard .Card .product .description {
    font-size: 12px;
    color: #949494;
}

.mainCard .Card .buy .price {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.mainCard .Card .buy .priceroot {
    color: rgb(255, 69, 69);
    font-weight: lighter;
    font-size: 12px;
    text-decoration: line-through;
}

.mainCard .Card .buy {
    display: grid;
    grid-template-columns: auto 35px;
    justify-content: space-between;
    align-items: end;
    padding: 0 8px;
}
.mainCard .Card .buy a {
    text-decoration: none;
}
.mainCard .Card .buy button {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #eee;
    background-color: #000;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}


.Card.Priority {
    color: #F9D342 !important;
    background-color: #2c210c !important;
    background: rgb(249, 211, 66);
    background: linear-gradient(180deg, rgba(249, 211, 66, 1) 0%, rgba(152, 115, 44, 1) 20%, rgba(44, 33, 12, 1) 100%);
}

.Card.Priority button {
    background-color: #F9D342 !important;
    color: #2c210c !important;

}

.Card.Priority .image {
    border: 2px solid #F9D342 !important;
}

.Card.Diamond {
    color: #fff !important;
    background-color: #156180 !important;
}

.Card.Diamond button {
    background-color: #00eeff !important;
    color: #000 !important;
}

.Card.Diamond .image {
    border: 2px solid #00eeff !important;
}

.Card.Platinum {
    color: #fff !important;
    background-color: #454545 !important;
}

.Card.Platinum button {
    background-color: #9c9c9c !important;
    color: #fff !important;
}

.Card.Platinum .image {
    border: 2px solid #fff !important;
}

.Card.Ultimate {
    color: #fff !important;
    background-color: #000 !important;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(43, 43, 43, 1) 30%, rgba(0, 0, 0, 1) 100%);

}

.Card.Ultimate button {
    background-color: #fff !important;
    color: #000 !important;
}

.Card.Ultimate .image {
    border: 2px solid #fff !important;
}


/* Custom */
.ShareGo {
    border-radius: 20px;
    overflow: hidden;
}

.ShareGo .Head {
    position: absolute;
    top: 0;
    padding: 2px 10px;
    z-index: 0;
    color: var(--SnG-Head-Text);
    background-color: var(--SnG-Head-Background);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ShareGo .Head h1 {
    font-size: 16px;
}

.ShareGo .Head h1 span {
    font-size: 10px;
}

#mapboxMap {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 0;
}

.suggestions {
    background-color: var(--SnG-Input);
    position: absolute;
    width: calc(100% - 40px);
    max-height: 220px;
    border-radius: 10px;
    overflow-y: auto;
    margin-top: 10px;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    background-color: var(--SnG-Head-Background);
    margin: 4px;
    border-radius: 10px;
}

.suggestion-item:hover {
    background-color: var(--SnG-Head-Text);
}

.leaflet-marker-icon {
    border-radius: 50%;
    border: 3px solid var(--Map-Marker-icon);
    background-color: var(--Map-Background);
}

.leaflet-right {
    right: unset !important;
    left: 0 !important;
}

.leaflet-top {
    top: 15px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: var(--Map-BTN) !important;
    color: var(--Map-BTN-Text) !important;
}

.leaflet-bar a {
    color: var(--SnG-BTN-Text) !important;
    background-color: var(--SnG-BTN) !important;
    border: none !important;
}

.leaflet-container .leaflet-control-attribution {
    color: #fff;
    background-color: #000000 !important;
    border-top-right-radius: 10px;
}

.custom-div-icon .custom-marker {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    /* Ngăn chặn xuống dòng */
}

.custom-select {
    z-index: 0;
}

.Map {
    width: 100%;
    position: relative;
    height: 220px;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid var(--Map-Background);
    margin: 0;
}

.mapboxgl-canvas {
    width: 100% !important;
}

.mapboxgl-popup-content {
    background-color: var(--Map-Background) !important;
}

.mapboxgl-popup-tip {
    border-top-color: var(--Map-Background) !important;
}


#mapType {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}



.Map select {
    color: var(--Map-BTN-Text);
    background-color: var(--Map-BTN);
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    padding: 5px 10px;
    font-size: 1.15rem;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

select:focus {
    outline: none;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}


.Form {
    background-color: var(--Background);
    color: var(--Text);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Form label {
    display: block;
    font-weight: 500;
    margin-bottom: 3px;
}

.Form label span {
    font-size: 10px;
    font-weight: normal;
}

.Form input {
    color: var(--SnG-Input-Text);
    background-color: var(--SnG-Input);
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    font-weight: 550;
}

.Form input:focus {
    outline: none;
}

.Form .Flex button {
    color: var(--SnG-BTN-Text);
    background-color: var(--SnG-BTN);
    font-size: 20px;
    height: 41px;
    width: 60px;
    border-radius: 10px;
    border: none;
}

.Form textarea {
    width: 100%;
    height: 120px;
    font-size: 18px;
    padding: 10px;
    font-weight: 550;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    color: var(--SnG-Input-Text);
    background-color: var(--SnG-Input);
    resize: none;
}

.Form .Flex {
    display: flex;
    align-items: end;
    gap: 8px;
}

.Form .Flex .Input {
    width: 100%;
}

.People .Flex {
    display: flex;
}

/* .Form #time,
.Form #date {
    width: 100%;
    padding: 10px;
} */
input[type='date'],
input[type='time'] {
    appearance: none;
}

.ratings {
    background-color: var(--SnG-Input);
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 2px 0;
    width: 100%;
    direction: rtl;
    text-align: center;
}

.star {
    cursor: pointer;
    position: relative;
    line-height: 40px;
    display: inline-block;
    transition: color 0.2s ease;
    color: var(--SnG-BTN-Text);
}

.star:before {
    content: '\2605';
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.star:hover,
.star.selected,
.star:hover~.star,
.star.selected~.star {
    transition: color 0.8s ease;
    color: var(--SnG-Star);
}

.Form button.Confirm {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: var(--SnG-BTN-Main-Text);
    background-color: var(--SnG-BTN-Main);
}

.historyContainer {
    color: var(--SnG-History-Text);
    background-color: var(--SnG-History-Background);
    border-radius: 10px;
    padding: 10px;
}

.history-item {
    border-radius: 20px;
    margin-top: 10px;
    color: var(--SnG-History-Item-Text);
    background-color: var(--SnG-History-Item-Background);
    border: 2px solid var(--SnG-History-Item-Text);
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}



.history-item .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: var(--Main);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.history-item .delete-btn:hover {
    color: #f00;
}


.history-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.history-item p {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.5;
}

.history-item p strong {
    font-weight: bold;
}

.history-item a {
    color: #337ab7;
    text-decoration: none;
}

.history-item .rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


.history-item .note {
    font-style: italic;
}

.historyContainer button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #1D6F42;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.historyContainer button:nth-child(3) {
    background-color: rgb(0, 140, 255);
}

.historyContainer button:nth-child(4) {
    background-color: rgb(252, 45, 45);
}

.mess {
    text-align: center;
}

.btn.mess {
    background-color: #2d7aff;
}

/* Blog */
.Feed {
    color: var(--Feed-Text);
    background-color: var(--Feed-Background);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.Feed .Head {
    color: var(--Feed-Head-Text);
    background-color: var(--Feed-Head);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.Head .Author {
    text-align: left;
    display: grid;
    grid-template-columns: 50px auto 30px;
    gap: 10px;
}

.Head .Author .Avatar {
    text-align: center;
}

.Head .Author .Avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.Head .Author .Info .Name {
    font-size: 20px;
    font-weight: bold;
}

.Head .Author .Info .Time {
    font-size: 12px;
    /* Light gray for time */
}

.Head .Author .Func.Share {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.Head .Author .Func.Share i {
    font-size: 20px;
    /* Green for share icon */
}


.Feed .Head .Author .Avatar {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.Feed .Info .Name {
    font-size: 18px;
    font-weight: bold;
}

.Feed .Info .Time {
    font-size: 12px;
}

.Feed .Flex {
    display: flex;
}


.Feed .Func.Share {
    font-size: 20px;
}

.wp-block-video video {
    max-width: 100%;
    margin: 5px 0 0 0;
}


.Body .Status h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.figure {
    margin: 5px 0;
}

.Body .Status img,
.Body .Status video {
    height: auto;
    width: 100% !important;
    border-radius: 10px;
    /* border: 2px solid var(--Background); */
    box-sizing: border-box;
}

.Body .Status video {
    background-color: var(--Background);
}


.Body .Status .Content .wp-smiley {
    border: none;
}

/* .Status .wp-block-gallery {
    column-count: 2 !important;
    --webkit-column-count: 2;
    --moz-column-count: 2;
    gap: 5px;
    margin: 5px 0;
} */

/* .Status .wp-block-gallery img {
    border: 2px solid #000;
} */

/* Ẩn modal mặc định */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Hiển thị ảnh trong modal */
.modal-content {
    border-radius: 10px;
    margin: 80px auto auto auto;
    display: block;
    max-width: 95%;
    max-height: 100%;
}

/* Đóng modal */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

/* Thêm kiểu dáng cho chữ caption */
.caption {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    /* Điều chỉnh khoảng cách giữa ảnh và chữ caption */
}


.Status .wp-block-image {
    margin: 5px 0;
}

.Status .wp-block-gallery .wp-block-image {
    margin: 0 auto;
    text-align: center;
}

.Feed .Body strong,
.Feed .Body mark {
    color: var(--Feed-Text-Head) !important;
    /* Green for emphasis */
    font-weight: bold;
}

.Feed .Body blockquote {
    font-size: 18px;
    margin: 10px 0;
    color: var(--Text);
    background-color: var(--Background);
    border-left: 3px solid #000;
    padding: 1px 0;
    padding-left: 5px;
}

.Feed .Body blockquote p {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}


.Feed .Body blockquote a {
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}

.copy-container {
    text-align: center;
    margin: 10px 0;
}

.copy-container button {
    border-radius: 5px;
    margin-top: 2px;
    width: 100%;
}

.MainGas {
    color: var(--Card-Main-Text);
    background-color: var(--Card-Main-Background);
    padding: 10px;
    border-radius: 10px;
}

.CardsContainer {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
    align-items: center;
    overflow: auto;
    gap: 10px;
}

.Gas .Card {
    color: var(--Card-Text);
    background-color: var(--Card-Background);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.Gas .Card h1 {
    font-size: 12px;
}

.Gas .Card .blockprice {
    font-family: monospace;
    text-align: right;
    color: var(--Card-Gas-Text);
    background-color: var(--Card-Gas-Background);
    padding: 4px 10px;
    border-radius: 6px;
    width: 120px;
}

.Gas .Card .blockprice .price {
    font-size: 18px;
}

.Gas .Card .blockprice .status {
    font-size: 12px;
}

.positive {
    color: red;
}

.negative {
    color: rgb(61, 253, 61);
}

.Gas .Footer {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.Gas .Footer #dateupdate br {
    display: none;
}

.Gas .Footer #dateupdate {
    font-size: 14px
}

.Gas .Footer .source a {
    color: yellowgreen;
    text-decoration: none;
    font-family: BeFontBold;
}

.CalculatorGas {
    color: var(--Card-Main-Text);
    background-color: var(--Card-Main-Background);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
}

.CalculatorGas input[type="number"],
.CalculatorGas select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    color: var(--Card-Input-Text);
    background-color: var(--Card-Input);
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.CalculatorGas button {
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    width: 200px;
    border-radius: 4px;
    background-color: var(--Card-BTN);
    color: var(--Card-BTN-Text);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.CalculatorGas h1 {
    margin-bottom: 10px;
}

.CalculatorGas button:hover {
    background-color: #218838;
}

.CalculatorGas #result,
#result2 {
    margin: 10px 0;
    color: var(--Text);
    background-color: var(--Background);
    padding: 10px;
    border-radius: 10px;
}

.PIP {
    text-align: center;
}

.PIP input[type="file"] {
    display: none;
}

.PIP .custom-file-upload {
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    background-color: var(--Map-BTN);
    color: var(--Map-BTN-Text);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    display: block;
}

.PIP .custom-file-upload:hover {
    background-color: var(--ButtonActive);
}

.PIP #video,
.PIP #image {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
}

.Dev .Error {
    margin: 10px 0;
    color: yellowgreen;
    background-color: #000;
    border-left: 2px solid greenyellow;
    padding-left: 10px;
    padding: 5px 0;
    overflow: hidden;
    font-size: 18px;
}

.log {
    color: greenyellow;
    padding-left: 10px;
}

.error {
    color: #f44747;
}

.warn {
    color: #ffdd57;
}

.info {
    color: #dcdcaa;
}

.timestamp {
    color: #6a9955;
}
footer {
    font-size: 12px;
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
footer a{
    color: var(--Text);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}