* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SearchBox {
    padding: 10px;
}
.Search {
    width: 100%;
    background-color: transparent;
    display: flex;
    gap: 5px;
}

.Search input {
    color: #da9b37;
    background-color: #00000070;
    border: 2px solid #da9b37;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

.Search input::placeholder {
    color: #5f533f;
}

.Search input:focus {
    outline: none;
}


.Search button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 18px;
    background-color: #da9b37;
    border: 2px solid #da9b37;
    border-radius: 10px;
}

.Search button:hover {
    color: #da9b37;
    background-color: #000000b2;
    border: 2px solid #da9b37;
}

.SearchHistory {
    background-color: #000000a8;
    border-radius: 10px;
    margin: 10px 0;
}

#search-history-list {
    list-style: none;
    padding: 0 ;
    margin: 0;
}

#search-history-list li {
    color: #da9b37;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 7px 10px;
    font-size: 16px;
    font-weight: bold;
}

#search-history-list li:last-child {
    border-bottom: none;
    padding-bottom: 10px;

}

#search-history-list li:hover {
    border-radius: 10px;
    background-color: #da9b37;
    color: #000;
}

.delete-icon {
    margin-left: auto;
    padding-right: 10px;
    cursor: pointer;
    color: red;
    cursor: pointer;
}

.delete-icon:hover {
    color: red;
}

.MainChampion {
    background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Khazix_4.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 15px;
    box-shadow: 0px 0px 0px 3px #111,
        0px 0px 0px 5px #937341;

}

.Profile {
    background-color: #111111;
}
.Profile .Content {
    margin-top: 10px;
}

.Head {
    width: 100%;
    padding: 20px;
    display: grid;
    gap: 10px;
    border-radius: 5px;
    text-align: center;

}

.Head .Icon {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 2px #111,
        0px 0px 0px 5px #937341;
}

.Head .Icon img {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 5px solid #fcb748;
}

#summonerName {
    font-size: 25px;
    color: #da9b37;
    text-shadow: 0 0 10px black;
}

.Head .Icon .Level {
    background-color: #da9c3765;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px 5px 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    border-bottom-right-radius: 10px;
}

.Head .Info h1 span {
    font-size: 14px;
}

.InfoSummoner {
    display: none;
    background-color: transparent;
    color: #da9b37;
    border: none;
    padding: 2px 10px;
    width: 100%;
}

.Ranked {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 100%  100%;
    overflow: auto;
}

.Ranked .InfoRank {
    width: 100%;
    margin: auto;
    text-align: center;
}

.Content {
    padding-bottom: 20px;
}

.Content h1 {
    letter-spacing: 1px;
    color: #937341;
    font-size: 18px;
    text-transform: uppercase;
}

hr {
    width: 80%;
    height: 25px;
    border: none;
    background-image: url(./HR.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto 10px auto;
}


.Ranked .Solo h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.Ranked .Solo h3 {
    font-size: 16px;
}

.Ranked .Solo p {
    font-size: 12px;
}

.Rank {
    margin: auto;
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.Rank img {
    width: 100%;
    scale: 2.4;
    object-position: 0 5px;
}

.ChampionMaster {
    text-align: center;
    padding: 10px 20px;
}

.champion-mastery-info .Champion {
    display: grid;
    grid-template-columns: 100px auto 100px;
}

.ChampionMaster .Champion {
    margin-top: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 15px 5px;
    margin: 10px 0;
}

.Champion .Icon {
    height: 65px;
    width: 65px;
    margin: auto;
    padding: 5px;
    text-align: center;
    margin: auto;
    border: 2px solid #937341;
    box-shadow: 0px 0px 0px 2px #111,
        0px 0px 0px 5px #937341;
    border-radius: 50%;
    overflow: hidden;
}

.Champion .Icon .ChampionIcon {
    width: 100%;
    object-fit: cover;
    scale: 1.4;
}

.Champion .Info {
    margin-top: 5px;
}

.Champion .Info p {
    font-size: 14px;
    font-family: monospace;
    margin-top: 5px;

}

.champion-mastery-info .Mastery {
    height: 60px;
    width: 60px;
    font-weight: bold;
    margin: auto;
}
.champion-mastery-info .Mastery:hover {
    scale: 1.2;
}

.champion-mastery-info .Mastery img {
    width: 100%;
}

.champion-mastery-info .Info {
    text-align: left;
}


.HunqD {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    text-shadow: 0 0 10px black;
}

.HunqD p {
    color: #937341;
    font-size: 14px;
    font-weight: 500;
}

.HunqD p a {
    color: #da9b37;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.MatchHistory {
    text-align: center;
    padding: 10px 20px;
}

.Match {
    padding: 5px 5px;
    margin: 0;
    display: grid;
    grid-template-rows: auto auto;
}

.Match .Win .Head {
    background-color: #937341;
}

.Match .Lose .Head {
    background-color: #8a1313;
}

.Match .Head {
    text-align: left;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1f1f1f;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.Match .Head p {
    font-size: 12px;
    font-weight: bold;
}

.Match .Head p:last-child {
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}

.Match .Body {
    display: grid;
    grid-template-columns: 50px auto auto;
    gap: 10px;
    background-color: #1f1f1f;
    margin-top: 3px;
    padding: 10px 10px 10px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Match .Champion {
    height: 50px;
    width: 50px;
    margin: auto;
    padding: 5px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #937341;
    box-shadow: 0px 0px 0px 2px #111,
        0px 0px 0px 4px #937341;
    overflow: hidden;
}

.Match .Champion img {
    width: 100%;
    scale: 1.4;
    object-fit: cover;
}
.Match .LevelSpell {
    background-color: red;
}
.Match .Items {
    text-align: center;
    width: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}
.Match .Item {
    margin: auto 2px;
}
.Match .Item img {
    width: 100%;
    border-radius: 4px;
}

.Match .Body .Info {
    text-align: center;
    padding-right: 55px;
}

.Match .Body .Info h2 {
    font-size: 18px;
}

.Match .Body .Info h3 {
    font-size: 15px;
}

@media only screen and (min-width: 700px) {
    .Profile {
        padding: 20px 18%;
    }

    .Profile .MainChampion {
        border-radius: 20px;
        box-shadow: 0 0 10px 1px black;
    }

    .Profile .Content {
        margin-top: 20px;
    }

    .Rank {
        height: 150px;
    }
    .Ranked {
    width: 100%;
    padding: 20px;
    grid-template-columns: 50%  50%;
}

}

.BG {
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    transition: transform 0.5s ease-out;
    background-position: left;
}