* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BG: #0098ff;
    --CheckFriend: #0098ff;
    --Box: #fff;
    --TBox: #000;
    --T2Box: #111;
    --T3Box: #ff0000;
    --IBox: #ddd;
    --ITBox: #000;
    --BBox: #fff;
    --Block: #fff;
    --TBlock: #000;
    --Card: #ffffff;
    --TCard: #000000;
    --Setting: #ececec;
    --Setting2: #afafaf;
    --TSetting: #000;
    --Icon: #fffcfc;
    --TIcon: #000;
    --Progress: #f1f1f1;
}

body {
    background-color: var(--BG);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.dark-mode {
    --BG: #000000;
    --CheckFriend: #000000;
    --Box: #232323;
    --TBox: #fff;
    --T2Box: #ffffff;
    --T3Box: #696969;
    --IBox: #383838;
    --ITBox: #fff;
    --BBox: #646464;
    --Block: #232323;
    --TBlock: #fff;
    --Card: #232323;
    --TCard: #fff;
    --Setting: #1b1b1b;
    --Setting2: #0f0f0f;
    --TSetting: #fff;
    --Icon: #000;
    --TIcon: #fff;
    --Progress: #525252;
}

button {
    cursor: pointer;
}

.Hidden {
    display: none !important;
}



.CheckFriend {
    z-index: 99;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--CheckFriend);
    overflow-x: hidden;
}

.Box {
    color: var(--TBox);
    text-align: center;
    width: 80%;
    padding: 20px 0;
    background-color: var(--Box);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.Box h1.Name span {
    color: var(--T3Box);
}

.DarkModeBtn {
    background-color: var(--Block);
    color: var(--TBlock);
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: -50px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;


}

.Box h1 span {
    font-size: 12px;
}

.Logo {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.Logo img {
    width: 100px;
    display: block;
    margin: auto;
}

.Input {
    text-align: center;
    padding: 0 20px;
    margin-top: 20px;
}

.Input label {
    color: var(--T2Box);
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    /* Add spacing between label and input */
    text-align: left;
}

.Input label span {
    color: var(--T3Box);
    display: block;
    font-size: 12px;
}


.Input input {
    color: var(--ITBox);
    background-color: var(--IBox);
    display: block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.Input input:nth-child(4) {
    margin-bottom: 0;
}

.Input a {
    width: 120px;
    color: #0066ff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 5px;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}

.Input button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
}


.Input button:hover {
    background-color: #333;
    /* Darken the button on hover */
}

.Input button:last-child {
    background-color: var(--BBox);
    color: black;
    margin-top: 10px;
    box-shadow: inset 0 0 0 2px black;
}

.Input button:last-child:hover {
    background-color: #0098ff;
    /* Darken the button on hover */
}

.Input button:last-child span {
    font-size: 12px;
    display: block;
}

.Result {
    text-align: center;
    min-height: 100vh;
    color: aliceblue;
    padding: 10px;
    padding-top: 20px;
}

#resultText {
    color: var(--T3Box);
    margin: 5px;
    font-size: 14px;
}

#resultText i {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Head .Icon {
    font-size: 30px;
    text-align: center;
    width: 50px;
}

.Head {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px 20px;
}

.Head img {
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #ff002b;
}

.Avatar .Rank {
    display: block;
    width: 80px;
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background-color: #ff002b;
    margin: auto;
    margin-top: -20px;
    padding: 3px 5px;
    border-radius: 20px;
}

.Head .Name {
    text-align: left;
}

.Head .Name h5 {
    font-size: 14px;
}

.Head .Name h5 i {
    cursor: pointer;
    font-size: 20px;
}

.Body {
    margin: 20px 0;
}

.Block {
    text-align: left;
    margin: 20px 0;
}

.Card.Flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Block img {
    max-width: 100%;
}

.Block h1 {
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 2px;
    color: var(--TBlock);
}

.Block p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.Block p.right {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 0;
}

.Block .Card {
    text-align: left;
    color: var(--TCard);
    background-color: var(--Card);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Block .Card .Setting {
    cursor: pointer;
    color: var(--TSetting);
    background-color: var(--Setting);
    margin: 5px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;

}

.Block .Card .Setting.Recommend:not(:hover) {
    color: #ff0000;
}


.Block .Card .Setting:hover {
    background-color: var(--Setting2);
}

.Block .Card .Setting .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: var(--TIcon);
    background-color: var(--Icon);
    border-radius: 50%;
}

.red {
    color: var(--T3Box);
    margin-bottom: 10px;
}

.One {
    display: flex;
}

.One .Avatar:last-child {
    margin-left: -20px;
}

.One .Avatar img {
    height: 80px;
    display: block;
    border-radius: 50%;
    border: 3px solid #00a005;
}

.One .Avatar:last-child img {
    border: 3px solid #ff0000;
}

.Two h1 {
    margin: 0;
}

.Two p {
    font-size: 18px;
}

.Two p:last-child {
    font-size: 14px;
}

.progress-container {
    margin: 2px 0;
    width: 100%;
    background-color: var(--Progress);
    border-radius: 5px;
}

.progress-bar {
    width: 0;
    max-width: 100% !important;
    height: 20px;
    background-color: #0098ff;
    border-radius: 5px;
    padding-right: 10px;
    text-align: right;
    line-height: 20px;
    color: white;
    font-weight: bold;
}

/* Thêm CSS để tùy chỉnh giao diện danh sách người dùng */
#userList {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 10px;
    gap: 10px;
}

.CardMember {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: calc(50% - 5px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: var(--Block);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    overflow: auto;
}

.CardMember:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.CardMember .Info {
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
}

.CardMember .Info div {

    word-wrap: break-word;
}

.CardMember .Info div:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

.user-image {
    width: 80px;
    /* Điều chỉnh kích thước ảnh người dùng */
    height: 80px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    /* Bo góc ảnh để tạo hình tròn */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

strong {
    margin-right: 5px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 8px;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.AETH {
    display: none;
}
.forms-studio {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

.forms-studio iframe {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}