:root {
--Background: #6284fc;
  --Linear-Gradient: linear-gradient(90deg, rgba(98, 132, 252, 1) 0%, rgba(244, 146, 240, 1) 100%);

  --Color: #000;
  --Menu: #fff;
  --ColorMenu: #111;

  --ColorCard: #000;
  --Card: #fff;

  --Shadow: #000;
  --Link: greenyellow;
}

.darkmode {
  --Background: #111;
  --Linear-Gradient: linear-gradient(90deg, rgba(0, 97, 255, 1) 0%, rgba(96, 239, 255, 1) 100%);

  --Color: #fff;
  --Menu: black;
  --ColorMenu: #fff;

  --ColorCard: #5c5c5c;
  --Card: #000;

  --Shadow: #eee;
  --Link: #008cff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--Color);
  background-color: var(--Background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background: var(--Background) ; */
  /* background: var(--Linear-Gradient); */
  
}
@media only screen and (min-width: 1000px) {
  body { 
    margin: 0 700px;
  }
}



.Hide {
  display: none ;
}

.Show {
  display: block ;
}

.Page {
  min-height: 100vh;
  width: 100%;
}

.Page img {
  width: 100%;
}

.Welcome {
  text-align: center;
  background-image: url(/HunqD/Data/IMG/Wallpaper/W2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Welcome div {
  margin-bottom: 100px;
  width: calc(100% - 20px);
  background-color: var(--Card);
  padding: 20px 10px;
  border-radius: 10px;
}

.Welcome div button {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: var(--Color);
  background-color: var(--Link);
  height: 50px;
  border-radius: 20px;
  border: 2px solid var(--Color);
  padding: 0 15px ;
}

.Two {
  padding: 10px;

}

.Two img {
  width: 100%;
  border-radius: 20px;
}

.Two .Banner {
  width: 100%;
  margin: 5px 0 10px 0;
  border-radius: 20px;
  cursor: pointer;

}

.Two .ToolsBox {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto ;
  gap: 10px;
  margin: auto;
}

.ToolsBox .Function {
  cursor: pointer;
  text-align: center;
  margin: auto;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  background-color: var(--Card);
}
.ToolsBox .Function.Active {
  background-color: var(--ColorCard);
}

.ToolsBox .Function img {
  width: 70%;
}

.Tab h1 {
  text-align: center;
  font-size: 20px;
  margin: 5px 0 10px 0;
}


.Tab .tabcontent {
  display: none;
  text-align: center;
}

#AddFriends ol{
  margin-left: 15px;
}
#Ranking .UserTop {
  display: grid;
  grid-template-columns: 60px auto 60px;
  gap: 2px;
  background-color: var(--Card);
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

#Ranking .UserTop:nth-child(2) {
  grid-template-columns: auto ;
  border: 3px solid var(--Card);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#Ranking .UserTop .Avatar .imgA {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
}


#Ranking .UserTop:nth-child(2) .Avatar .imgA {
  height: 80px;
  width: 80px;
  border: 4px solid gold;
}

#Ranking .UserTop .Rank img {
  height: 50px;
  width: 50px;
}

#Ranking .UserTop:nth-child(2) .Rank img {
  height: 60px;
  width: 60px;
}
#Ranking .UserTop .Name {
  text-align: left !important;
}
#Ranking .UserTop .Name h1 {
  text-align: left;
  margin: auto 0;
}
#Ranking .UserTop:nth-child(2) .Name h1, #Ranking .UserTop:nth-child(2) .Name {
  text-align: center !important;
}


#Ranking .UserTop .Name p {
  font-size: 14px;
}
#Ranking h5{
  text-align: center;
}

#BlockList input {
  color: var(--Color);
  font-size: 18px;
  padding: 0 5px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--Color);
  background-color: var(--Card);
}
#BlockList button {
  color: var(--Card);
  font-size: 20px;
  height: 40px;
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid var(--Card);
  background-color: var(--Color);
}
#BlockList {
  text-align: center;
}
.Info {
  font-size: 12px;
  text-align: center;
  margin: 10px 0 20px 0;
}
.Info a {
  font-weight: bold;
  color: var(--Link);
  font-size: 15px;
  text-decoration: none;
}