* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(/AP2/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-color: #000;
}

.Card {
    padding: 10px;
    color: #fff;
    background-color: #000000e1;
}
.Card:first-child {
    min-height: 90vh;
}


.AddTally {
    margin: 10px 0;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 50px 50px;
    gap: 5px;
    background-color: #111;
    border-radius: 10px;
}

.AddTally input {
    color: #fff;
    background-color: #535353;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    display: block;
    border-radius: 10px;
    border: none;
}

.AddTally button {
    color: #fff;
    background-color: #000;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
}
.AddTally button:nth-child(2){
    background-color: rgb(0, 122, 0);
}
.AddTally button:nth-child(3){
    background-color: rgb(209, 0, 0);
}
.Tally {
    color: #fff;
    background-color: #111;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.Head {
    display: flex;
    margin: 5px 0;
}

.Item {
    font-size: 20px;
    font-weight: bold;
}

.Del-Item {
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 10px;
}

.Body {
    display: grid;
    grid-template-columns: 50px auto 50px;
    gap: 5px;
}

.Body button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.Body button:first-child {
    color: red;
    background-color: rgb(46, 0, 0);
}

.Body button:last-child {
    color: rgb(0, 255, 0);
    background-color: rgb(0, 41, 0);
}

.Body input {
    font-weight: bold;
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 100%;
    display: block;
    border-radius: 10px;
    border: none;
}
.HistoryTally {
    background-color: #111;
    padding: 10px;
    border-radius: 8px;
}
.HistoryTally h1 {
    margin-bottom: 10px;
}
#HistoryTally p {
    font-size: 16px;
    font-weight: bold;
}

.HunqD {
    font-size: 14px;
    color: #fff;
    background-color: #000;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 5px ;
}

.HunqD a {
    color: greenyellow;
    font-weight: bold;
    text-decoration: none;
}