/* Định nghĩa các biến CSS để dễ dàng quản lý màu sắc */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f0f0f0;
    --card-background-color: #ffffff;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --font-color: #333;
    --hover-color: #f1f1f1;
}

/* Đặt các kiểu chung cho toàn bộ trang */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

body {
    font-family: 'Pixel', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    padding: 10px;
}

/* Phần chọn nhân vật */
#characterSelection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Tự điều chỉnh kích thước theo màn hình */
    gap: 20px;
    margin: 20px 0;
}

.character {
    padding: 20px;
    background-color: var(--card-background-color);
    border-radius: 15px;
    box-shadow: var(--card-shadow);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character img {
    width: 100%;
    border-radius: 10px;
}

.character h1 {
    font-size: 24px;
    color: var(--font-color);
    margin-top: 15px;
}

.character:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Phần lịch trình */
#schedule {
    margin: 20px 0;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--card-shadow);
    color: #fff;
}

#schedule h2 {
    font-size: 36px;
}

#schedule p {
    font-size: 24px;
}

/* Bảng */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: var(--card-shadow);
}

table th, table td {
    padding: 15px;
    border: 1px solid #ddd;
}

table thead th {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: var(--hover-color);
}

table a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    text-decoration: underline;
}

/* Ẩn phần tử p với class pgae */
.content p.pgae {
    display: none;
}
