* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BG: #eeeeee;
    --TX: #000000;
    --CR: rgb(255, 255, 255);
    --TALLYCL: #fff;
    --TALLY: #000000;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--BG);
    color: var(--TX);
    touch-action: manipulation;
}

.dark-mode {
    --BG: #000;
    --TX: #fff;
    --CR: #000;
    --TALLY: #111;
}

button {
    cursor: pointer;
}

.Card {
    padding: 10px;
    color: var(--TX);
    background-color: var(--CR);
}

.Card:first-child {
    min-height: 100vh;
    padding-bottom: 50px;
}


.AddTally {
    margin: 10px 0;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
    background-color: var(--TALLY);
    border-radius: 10px;
}

.AddTally .One {
    display: grid;
    grid-template-columns: auto 50px;
    gap: 5px;
}

.AddTally .Two {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px auto;
    gap: 5px;
    margin: 5px;

}

.AddTally .Two h5 {
    margin: auto;
}

.AddTally .Two a {
    text-decoration: none;
    color: greenyellow;

}

.AddTally .Two .Top1 {
    color: var(--TX);
    background-color: var(--CR);
    width: 100%;
    border-radius: 10px;
    display: flex;
    padding: 0 5px;
}

.Top1 marquee {
    margin: auto;
}

.AddTally input {
    text-transform: capitalize;
    color: #fff;
    background-color: #535353;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    display: block;
    border-radius: 10px;
    border: none;
}

.AddTally button {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    color: #fff;
    background-color: #111;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.AddTally button:nth-child(2) {
    background-color: rgb(0, 122, 0);
}

.AddTally .Two button:nth-child(1) {
    background-color: rgb(209, 0, 0);
}

.AddTally .Two button:nth-child(2) {
    background-color: rgb(238, 155, 0);
}

.AddTally .Two button:nth-child(3) {
    background-color: rgb(54, 54, 54);
}

.AddTally .Two button:nth-child(4).active {
    background-color: rgb(184, 211, 32);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.Tally {
    color: var(--TALLYCL);
    background-color: var(--TALLY);
    margin: 10px 0;
    border-radius: 10px;
}

.Tally .Box {
    background-color: #1111116e;
    border-radius: 10px;
    padding: 10px;
}

.Head {
    display: flex;
    margin: 5px 0;
}

.Item {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.Del-Item {
    cursor: pointer;
    color: white;
    background-color: #111;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 10px;
}

.Body {
    display: grid;
    grid-template-columns: 50px auto 50px;
    gap: 5px;
}

.Body button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.Body button:first-child {
    color: red;
    background-color: rgb(46, 0, 0);
}

.Body button:last-child {
    color: rgb(0, 255, 0);
    background-color: rgb(0, 41, 0);
}

.Body input {
    font-weight: bold;
    color: #fff;
    background-color: #000000c5;
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 100%;
    display: block;
    border-radius: 10px;
    border: none;
}

.HistoryTally {
    color: var(--TALLYCL);
    background-color: var(--TALLY);
    padding: 10px;
    border-radius: 8px;
}

.HistoryTally h1 {
    margin-bottom: 10px;
}

#HistoryTally p {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

#HistoryTally p:nth-child(2n+1) {
    color: #fff;
}

#HistoryTally p:nth-child(2n+2) {
    color: green;
}

footer.HunqD {
    font-size: 12px;
    color: var(--TX);
    text-shadow: 1px 1px 5px var(--BG);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 5px 5px 15px 5px;
}

footer.HunqD a {
    font-size: 14px;
    color: greenyellow;
    font-weight: bold;
    text-decoration: none;
}

#toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Hidden {
    display: none;
}

#smartpoint.active {
    background-color: rgb(0, 102, 255);
}

.Tally .Head {
    margin-bottom: 20px;
}

.Tally.HunqD {
    background-image: url(https://graph.facebook.com/61551995024526/picture?width=9999&access_token=6628568379|c1e620fa708a1d5696fb991c1bde5662);
    background-size: cover;
    background-position: 0 -190px;
}

.Tally.Hien {
    background-image: url(https://graph.facebook.com/100022625414871/picture?width=9999&access_token=6628568379|c1e620fa708a1d5696fb991c1bde5662);
    background-size: cover;
    background-position: 0 -150px;
}

.Tally.Thien {
    background-image: url(https://graph.facebook.com/100028302531768/picture?width=9999&access_token=6628568379|c1e620fa708a1d5696fb991c1bde5662);
    background-size: cover;
    background-position: 0 -120px;
}

.Tally.Hoa {
    background-image: url(https://graph.facebook.com/100037528999692/picture?width=9999&access_token=6628568379|c1e620fa708a1d5696fb991c1bde5662);
    background-size: cover;
    background-position: 0 -120px;
}

.Tally.Hoang {
    background-image: url(https://graph.facebook.com/100015905130912/picture?width=9999&access_token=6628568379|c1e620fa708a1d5696fb991c1bde5662);
    background-size: cover;
    background-position: 0 -90px;
}
.Tally.Black {
    background-image: none;
}