* {
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--BG);
	--color: #000;
	--BG: #0b89ff;
	cursor: url('/Projects/Phong-Du-An/Data/Cursor/Cursor1.png'), auto;
}

.dark-mode {
	--color: #ffffff;
	--BG: #111;
}

.Hide {
	display: none;
}

#toggle-button {
	cursor: url('/Projects/Phong-Du-An/Data/Cursor/Cursor1.png'), auto;
	text-align: center;
	position: fixed;
	height: 40px;
	width: 40px;
	bottom: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--BG);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.loading.hidden {
	opacity: 0;
}

.loading_icon {
	width: 120px;
	height: 120px;
	border: 10px solid rgba(126, 126, 126, 0.534);
	border-top-color: var(--color);
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

.loading_logo {
	position: absolute;
	height: 118px;
	width: 118px;

}

.loading_logo img {
	width: 100%;
	border-radius: 50%;

}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.ChaoMung {
	color: #fff;
	/* background-color: #0ba6ff; */
	/* height: calc(100vh - 40px); */
	padding: 30px 20px 10px 20px;
	opacity: 0;
	transform: scale(0.9);
	transition: all 0.5s ease-in-out;
}

.ChaoMung.Loaded {
	opacity: 1;
	transform: scale(1);
}

.ChaoMung .IMG {
	transform: scale(0.8);
	margin: 20px auto;
	width: 60%;
	opacity: 0;
	transition: all 1.5s ease-in-out;
}

.ChaoMung.Loaded .IMG {
	opacity: 1;
	transform: scale(1);
}


.ChaoMung .IMG img {
	width: 100%;

}

.ChaoMung h1 {
	font-size: 30px;
	text-transform: capitalize;
}

.ChaoMung h2 {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 30px;
}

.TienDoDuAn {
	text-align: center;
}

.TienDoDuAn .progress {
	width: calc(100% - 4px);
	height: 15px;
	background-color: #ddd;
	border-radius: 10px;
	padding: 2px;
}

body.dark-mode .TienDoDuAn .progress {
	background-color: #eee;
}

.TienDoDuAn #ValueProgress {
	text-align: right;
	font-size: 18px;
	font-weight: 700;
}

.TienDoDuAn .progress-bar {
	height: 100%;
	background-color: darkblue;
	border-radius: 10px;
	transition: width 0.5s ease-in-out;
}

.TienDoDuAn .progress-bar.blue {
	background-color: blue;
}

.TienDoDuAn .progress-bar.orange {
	background-color: orange;
}

.TienDoDuAn .progress-bar.red {
	background-color: red;
}

.TienDoDuAn .progress-bar.green {
	background-color: green;
}

.TienDoDuAn button {
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	border-radius: 10px;
	border: 2px solid #fff;
	color: #fff;
	margin: 10px auto;
	padding: 5px 10px;
	cursor: url('/Projects/Phong-Du-An/Data/Cursor/Cursor1.png'), auto;
}

body.dark-mode .TienDoDuAn button {
	border: 2px solid #eee;
	color: #eee;
}

.btnTienDoDuAn {
	margin: 10px 0;
}

.btnTienDoDuAn button:nth-child(1) {
	background-color: blue;
}

.btnTienDoDuAn button:nth-child(2) {
	background-color: orange;
}

.btnTienDoDuAn button:nth-child(3) {
	background-color: red;
}

.btnTienDoDuAn button:nth-child(4) {
	background-color: green;
}

.DoiNgu {
	color: #fff;
	text-align: center;
	margin: auto;
	border-radius: 20px;
}

.DoiNgu .ThanhVien {
	background-color: #000;
	margin: 20px;
	padding: 20px 10px;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 100px auto;
}

.DoiNgu .ThanhVien .Anh {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 3px solid wheat;
	margin: auto;
}

.DoiNgu .ThanhVien .Anh img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 2px solid wheat;
}

.DoiNgu .ThanhVien .ThongTin {
	text-align: left;
	margin-left: 10px;
}

.DoiNgu .ThanhVien .Ten {
	font-size: 24px;
	font-weight: bold;
	margin: 5px 0 0 0;
}

.DoiNgu .ThanhVien .ChucVu {
	font-size: 16px;
	color: #a3a3a3;
}

.DoiNgu .ThanhVien .XaHoi i {
	color: #008cff;
	margin: 10px 5px 0 5px;
	font-size: 20px;
}

.DoiNgu .ThanhVien .XaHoi i:hover {
	color: rgb(255, 0, 64);
}

.div100vh {
	height: 100vh;
	background-color: #008cff;
}

.KhoaNoiDung {
	text-align: center;
}


#result-message {
	color: #000;
}


.KhoaNoiDung {
	color: #fff;
	background-color: #373b52;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.KhoaNoiDung .Passwords {
	width: 80%;
}


.Passwords #password-input {
	height: 35px;
	width: 100%;
	background-color: #0000002d;
	border: none;
	border-bottom: 2px solid #000;
	margin: 10px 0;
}
.Passwords #submit-button {
	height: 50px;
	width: 50px;
	border: 2px solid #000;
	background-color: #0000002d;
}


@media only screen and (min-width: 1400px) {
	.BlockA {
		height: 100vh;
	}

	.BlockB {
		height: 100vh;
		overflow-y: auto;
	}

	.ChaoMung {
		padding: 10px 100px;
	}

	.ChaoMung .IMG {
		transform: scale(0.8);
		margin: 20px auto;
		width: 350px;
		opacity: 0;
		transition: all 1.5s ease-in-out;
	}

	.Block {
		display: grid;
		grid-template-columns: 45% 55%;
	}

	.DoiNgu {
		background-color: #000;
		display: grid;
		grid-template-columns: auto auto auto auto;
		margin: 10px;
		padding: 5px;
	}

	.DoiNgu .ThanhVien {
		background-color: #111;
		margin: 5px;
		padding: 20px 10px;
		display: block;
	}

	.DoiNgu .ThanhVien .ThongTin .Ten {
		font-size: 20px;
	}

	.DoiNgu .ThanhVien:hover {
		background-color: #444444;
	}

	.DoiNgu .ThanhVien .Anh {
		height: 90px;
		width: 90px;
	}

	.DoiNgu .ThanhVien .Anh img {
		height: 80px;
		width: 80px;
	}

	.DoiNgu .ThanhVien .XaHoi i {
		font-size: 30px;
		margin: 15px 5px 5px 5px;
	}

}