:root {
  --Color: #000;
  --Background: #fff;
}


*{
  margin: 0;
}

body {
  color: var(--Color);
  background-color: var(--Background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 500px ;
}
.DarkMode {
  --Color: #eee;
  --Background: #111;
  
}
.Welcome {
  text-align: center;
  margin: 10px 0 20px 0;
}
.Welcome h1 {
  font-size: 25px;
}

.Banner {
  height: 140px;
  width: 100%;
  border-radius: 15px;
  margin: 10px 0 10px 0;
}
.Banner .Weather {
  height: 120px;
  color: #fff;
  /* background-image: url(/Data/IMG/GIF/MerryChristmas.gif); */
  background-image: url(/Webs/MyRoom/Data/IMG/GIF/MerryChristmas.gif);
  background-size: cover;
  border: 3px solid var(--Color);
  border-radius: 15px;
  padding: 10px 20px;
}
.Weather #weatherContainer {
  text-shadow: #FC0 2px 0 10px;
  background-color: rgba(0, 0, 0, 0.274);
  display: grid;
  grid-template-columns: auto auto;
  margin: 8px 0;
  border-radius: 10px;
  padding: 0 20px ;
}
.Functions {
  height: 105px;
  width: 100%;
  overflow-x: scroll;
  margin:0 auto 20px auto;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px;
  gap: 14px;
  text-align: center;
}
.Functions div {
  background-color: #FC0;
  border: 3px solid var(--Color);
  height: 80px;
  width: 80px;
  margin: auto;
  border-radius: 15px;
}
.Functions div img {
  margin: 15px 0;
  width: 50px;
  height: 50px;
}
.Block .tabcontent {
  display: none;
}

.Block .Show {
  display: block ;
}
.Block .tabcontent img {
  width: 100%;
}

.inPC .Detail {
  background-color: #FC0;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 80px  auto;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 5px ;
}
.Detail .Icon {
  margin: auto;
}
.Detail .Name {
  color: #000;
  margin: 5px 0;
}
.Detail .Name h1 {
  text-transform: uppercase;
}
.Detail .Name p {
  text-transform: capitalize;
}
.inPC .Detail img {
  width: 60px;
}

.inECO img {
  width: 100%;
}
.inECO  .Line {
  position:relative;
  top: 85px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  
}
.inECO .Line .Blue {
  margin: auto 0 auto auto;
  background-color: blue;
  height: 30px;
  width: 30px;
}
.inECO  .Line .Red {
  background-color: Red;
  height: 30px;
  width: 30px;
}

#SETTING input{
  width: 100% ;
  height: 30px;
}
#SETTING button{
  width: 100% ;
  height: 30px;
  margin: 10px 0;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 0 10px ;
  }
  .Banner {
    height: 150px;
  }
}