:root {
--Background: #000;
  --Linear-Gradient: linear-gradient(90deg, rgba(0,97,255,1) 0%, rgba(96,239,255,1) 100%);

  --Color: #fff;
  --Menu: black;
  --ColorMenu: #fff;

  --ColorCard: #fff;
  --Card: #000;

  --Shadow: #eee;
}

.darkmode {
  --Background: #6284fc;
  --Linear-Gradient: linear-gradient(90deg, rgba(98,132,252,1) 0%, rgba(244,146,240,1) 100%) ;
  
  --Color: #000;
  --Menu: #fff;
  --ColorMenu: #111;

  --ColorCard: #000;
  --Card: #fff;

  --Shadow: #000;
}

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body {
  color: var(--Color);
  background-color: var(--Background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background: var(--Background) ; */
  background: var(--Linear-Gradient);
}
.Hide {
  display: none !important;
}
.Show {
  display: block ;
}
.Page {
  height: 100vh;
  width: 100%;
}
.Page img {
  width: 100%;
}
.Welcome {
  text-align: center;
  background-image: url(/Data/IMG/Wallpaper/W2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.Welcome div {
  margin-bottom: 100px;
  width: calc(100% - 20px );
  background-color: rgba(0, 0, 0, 0.74);
  padding: 20px 0;
  border-radius: 10px;
}
.Welcome div button {
  margin: 10px 0;
  color: var(--Color);
  background-color: #6284fc;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  border: 2px solid var(--Color);
}
.Two {
  padding: 10px;
}
.Two img {
  width: 100%;
  border-radius: 20px;
}
.Two .Banner {
  width: 100%;
  margin: 5px 0 10px 0;
}
.Two .ToolsBox {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: auto;
}
.ToolsBox .Function {
  text-align: center;
  margin: auto;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  background-color: var(--Card);
}
.ToolsBox .Function img {
  width: 70%;
}

.Tab h1 {
  font-size: 20px;
  margin: 5px 0 10px 0;
}


.Tab .tabcontent {
  display: none;
}
.Tab .tabcontent ol {
  margin-left: 20px ;
}

#TableRank {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse:collapse; 
}

#TableRank td, #TableRank th {
  border-bottom: 2px solid #ddd;
  padding: 5px 0;
}

#TableRank tr:hover {background-color: #ddd;}

#TableRank tr {
  background-color: var(--Card);
}
#TableRank th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: white;
}
#TableRank tr th, #TableRank tr td {
  text-align: center;
}
#TableRank tr th img, #TableRank tr td img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

