:root {
--Background: rgb(0,97,255);
  --Linear-Gradient: linear-gradient(90deg, rgba(0,97,255,1) 0%, rgba(96,239,255,1) 100%);

  --Color: #fff;
  --Menu: black;
  --ColorMenu: #fff;

  --Card: #fff;
}

.darkmode {
  --Background: rgb(98,132,252);
  --Linear-Gradient: linear-gradient(90deg, rgba(98,132,252,1) 0%, rgba(244,146,240,1) 100%) ;
  
  --Color: #000;
  --Menu: black;
  --ColorMenu: #fff;

}

* {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--Background) ;
  background: var(--Linear-Gradient);
  padding: 0 5px;
}

.Menu {
  position: fixed;
  top: 10px;
  right: 10px;
}
.Menu i {
  color: var(--Menu);
  font-size: 35px;
  margin: auto;
  cursor: pointer;
  rotate: 0deg;
  transition: 0.2s;
}
.NavMenu {
  text-align: center;
  display: none;
  position: fixed;
  right: 50px;
  top: 10px;
  width: calc(100% - 65px);
  background-color: var(--Menu);
  border-radius: 5px;
}
.NavMenu a {
  float: left;
  color: var(--ColorMenu);
  text-align: center;
  padding: 7px 14px;
  text-decoration: none;
  font-size: 17px;
}

.NavMenu i {
  color: var(--ColorMenu);
  font-size: 17px ;
}
#fDarkMode {
  float: right;
}
.Alert {
  display: none;
  color: var(--ColorMenu);
  text-align: center;
  position: fixed;
  right: 10px;
  top: 50px;
  width: calc(100% - 25px);
  background-color: var(--Menu);
  border-radius: 5px;
}

.Notifi {
  text-align: center;
  display: grid;
  grid-template-columns: 40px auto auto;
}
.Notifi i {
  font-size: 18px;
  padding: 10px ;
  color: var(--ColorMenu);
}
.Notifi p {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin: 7px 0;
}

.header {
  color: var(--Card);
  padding: 5px 10px ;
}



.info .BlockAbout {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 10px;
}
.Card {
  background-color: var(--Card);
  margin: 10px 5px;
  padding: 5px;
  border-radius: 10px;
}
.Card.Avatar {
  text-align: center;
}
.Card.Avatar img {
  width: 100%;
  min-height: 100%;
  border-radius: 8px;
  margin: auto;
}
.Card.About {
  padding: 5px 10px;
}
.Card.About h1 {
  font-size: 18px;
  text-transform: uppercase;
}
.Card.About h2 {
  font-size: 15px;
}
.Card.About h3 {
  font-size: 12px;
  font-weight: 500;
}
.Card.About p {
  font-size: 12px;

}
.BlockJob .Card {
  padding: 10px;
}
.BlockJob .Card .Icon {
  text-align: center;
  background-color: var(--Background);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 10px 5px 10px;

}
.BlockJob .Card .Icon i {
  color: var(--Card);
  font-size: 20px;
  margin: 10px;
}

.ExpJob {
  display: grid;
  grid-template-columns: 60px auto;
}
.ExpJob h1 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px 0;
}








@media only screen and (min-width: 1000px) { 
  body {
    padding: 10px 200px;
  }
  .Menu i {
    font-size: 50px;
  }
  .NavMenu {
    text-align: center;
    display: none;
    position: fixed;
    right: 70px;
    top: 15px;
    width: calc(100% - 85px);
    background-color: var(--Menu);
    border-radius: 5px;
  }
  .NavMenu a {
    float: left;
    color: var(--ColorMenu);
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .NavMenu i {
    color: var(--ColorMenu);
    font-size: 20px ;
  }
  
.Alert {
  right: 10px;
  top: 70px;
  width: calc(100% - 25px);
}

.Notifi i {
  font-size: 20px;
  padding: 10px ;
  color: var(--ColorMenu);
}
.Notifi p {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin: 7px 0;
}
}

.TestDiv {
  height: 100vh;
  width: 100%;
}