* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --BG: #fff;
    --CL: #000;
    --HOME: #47d4ff;
    --BLOG: #eee;
    --CLFEED: #000;
    --FEED: #fff;
    --BBLQ: #ff2d2d;
    --CBLQ: #ff2d2d;
    --BLQ: #cfcfcf;
    --HL: #47d4ff;
    --SEARCH: #eee;
}

body {
    background-color: var(--BG);
    color: var(--CL);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode {
    --BG: #111;
    --CL: #fff;
    --HOME: #000000;
    --BLOG: #000;
    --CLFEED: #eee;
    --FEED: #111;
    --BBLQ: #34ff2d;
    --CBLQ: #34ff2d;
    --BLQ: #000;
    --HL: #474747;
    --SEARCH: #111;
    
}

::selection {
    color: #fff;
    background-color: #0b4d58;
}

.Content {
    width: 100%;
}


.btn3D {
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: var(--CL);
    background-color: var(--HOME);
    box-shadow: 0 0 0px 2px var(--CL);
    border-radius: 2px;
}

.btn3D:hover {
    background-color: var(--CL);
    color: var(--HOME);
    box-shadow: 0 0 0px 2px var(--HOME),
        0 0 0px 4px var(--CL);
}


.Home {
    text-align: center;
    padding: 30px 0;
    background-color: var(--HOME);
}

.Home h1 {
    font-size: 50px;
}
.Home h1:hover {
    cursor:copy;
    color: var(--CBLQ);
}

.Home h1 b {
    cursor: cell;
    padding: 2px 10px;
    border-radius: 2px;
    color: var(--HOME);
    background-color: var(--CL);
}

.Home h1 b:hover {
    color: var(--BG);
    background-color: var(--CBLQ);
}

.Block {
    background-color: #000000ec;
    padding: 20px;
    text-align: center;
}

.Block h1 {
    text-transform: capitalize;
    margin: 10px 0;
}

.Block h2 {
    text-align: left;
}

.Block .Progress {
    padding: 20px;
}

.progress-container {
    width: 100%;
    /* Độ rộng của thanh tiến độ */
    height: 25px;
    /* Chiều cao của thanh tiến độ */
    margin: 10px auto;
    position: relative;

}


progress {
    width: 100%;
    /* Độ rộng của thanh tiến độ */
    height: 25px;
    /* Chiều cao của thanh tiến độ */
    background-color: #eee;

}

.progress-label {
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* Màu chữ */
}

progress::-webkit-progress-bar {
    background-color: #000000e3;
}

progress::-webkit-progress-value {
    background-image: linear-gradient(to right, #0b4d58, #0b4d58);
}

.ticks-list {
    text-align: left;
    padding-left: 20px;
    margin: 10px 0;
}

.Blog {
    width: 100%;
    background-color: var(--BLOG);
}

.Search {
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 10px;
    background-color: var(--SEARCH);
}

.Search input {
    font-size: 18px;
    color: var(--CLFEED);
    background-color: var(--BLQ);
    padding: 10px 5px;
    width: 100%;
    display: block;
    border-radius: 8px;
    border: none;
}

input:focus {
    outline: none;
}

.Search button {
    cursor: pointer;
    color: var(--BG);
    background-color: var(--CL);
    font-size: 18px;
    padding: 12px 14px;
    display: block;
    border-radius: 8px;
    border: none;
}

#rss-feed {
    padding: 8px;
    padding-bottom: 100px;
 
}

.Feed {
    color: var(--CLFEED);
    background-color: var(--FEED);
    margin-bottom: 20px;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
}
.Feed.highlighted {
    background-color: var(--HL);
}

.Feed:first-child {
    margin-top: 0;
}

.Feed:last-child {
    margin-bottom: 0;
}

.Feed.Active {
    background-color: #252525;
}

.Head .Author {
    display: grid;
    grid-template-columns: 60px auto 30px;
    gap: 2px;
}

.Head .Author .Avatar {
    text-align: center;
}

.Head .Author .Avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.Head .Author .Info .Name {
    font-size: 20px;
    font-weight: bold;
}

.Head .Author .Info .Time {
    font-size: 14px;
}

.Head .Author .Func.Share {
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
}

.Head .Author .Func.Share i {
    font-size: 20px;
}

.wp-block-video video {
    max-width: 100%;
    margin: 5px 0 0 0;
}

.Feed .Body ol {
    list-style-type: upper-latin;
}

.Feed .Body p {
    font-size: 18px;
    margin: 10px 0;
    word-wrap: break-word;
}

.Feed .Body strong,
.Feed .Body mark {
    color: var(--CBLQ) !important;
    font-weight: bold;
}

.Feed .Body blockquote {
    font-size: 20px;
    margin-top: 10px;
    background-color: var(--BLQ);
    border-left: 3px solid var(--BBLQ);
    padding: 1px 0;
    padding-left: 10px;
}



.Body .Status {
    padding: 5px;
}

.Body .Status h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.figure {
    margin: 5px 0;
}

.Body .Status img,
.Body .Status video {
    height: auto;
    width: 100% !important;
    border-radius: 10px;
    border: 2px solid var(--BodyBG);
    box-sizing: border-box;
}

.Body .Status video {
    background-color: var(--BodyBG);
}


.Body .Status .Content .wp-smiley {
    border: none;
}

.Status .wp-block-gallery {
    column-count: 2 !important;
    --webkit-column-count: 2;
    --moz-column-count: 2;
    gap: 5px;
    margin: 5px 0;
}
.Status .wp-block-gallery img {
    border: 2px solid black;
}
/* Ẩn modal mặc định */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

/* Hiển thị ảnh trong modal */
.modal-content {
    border-radius: 10px;
    margin: 80px auto auto auto;
    display: block;
    max-width: 95%;
    max-height: 100%;
}

/* Đóng modal */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}
/* Thêm kiểu dáng cho chữ caption */
.caption {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 10px; /* Điều chỉnh khoảng cách giữa ảnh và chữ caption */
}


.Status .wp-block-image {
    margin: 5px 0;
}

.Status .wp-block-gallery .wp-block-image {
    margin: 0 auto;
    text-align: center;
}
.Feed hr {
    height: 2px;
    border: none;
    background-color: var(--CL);
    margin: 12px 0;
}
.Block a {
    color: greenyellow;
    text-decoration: none;
}

#Welcome {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    margin-bottom: 10px;
}

.Recipe h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.Recipe hr {
    border: none;
    height: 5px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 10px;
}

.Recipe .A input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: none;
    font-size: 18px;
}

.Recipe .A button {
    margin: 10px 0;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #0b4d58;
    color: #fff;
}

.Box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
.onTOP {
    color: var(--CL);
    background-color: #00000057;
    cursor: pointer;
    position: fixed;
    font-size: 20px;
    bottom: 95px;
    right: 10px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
}
#toggle-button {
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.HunqD {
    font-size: 14px;
    color: #fff;
    background-color: #000;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 5px ;
}

.HunqD a {
    color: greenyellow;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (min-width: 800px) {
    .Status .wp-block-image img {
        max-width: 50%;

    }
}