@media print {

    #invoiceForm,
    #generateInvoiceBtn {
        display: none;
    }

    .invoice {
        margin: 0 0 auto 0 !important;
        padding: 5px !important;
        border: none !important;
        border-radius: 0 !important;
    }

}

.service-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-card:hover {
    background-color: #f9f9f9;
}

.invoice {
    margin: 10px;
    padding: 5px;
    border: 2px dashed black;
    border-radius: 10px;
}

.Logo-invoice {
    width: 100%;
}

#invoiceOutput {
    margin-top: 0 !important;
}

.Logo-invoice img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

#invoiceOutput p {
    margin: 0 !important;
}


.Info-invoice p {
    font-size: 12px;
}

#invoiceOutput thead,
#invoiceOutput th {
    border: 1px solid black;
}

#invoiceOutput td:last-child {
    font-weight: bold;
    text-align: right;
}

.Total h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Total p {
    font-size: 12px;
}